secrion.orderRegistration-card
    .container
        form.body-orderRegistration-card
            .orderRegistration-card__left.mod
                .orderRegistration-card-left__item
                    .orderRegistration-card-left__title  Контактная информация
                    .body-mod
                        .wr-inp
                            .wrapper-field
                                .body-inpyt-animation
                                    input#order1.wrapper-field-input
                                    label.input__label(for="order1")
                                        span.span-field-input ФИО
                                .body-inpyt-animation
                                    input#order2.wrapper-field-input(type="tel")
                                    label.input__label(for="order2")
                                        span.span-field-input Телефон*
                                .body-inpyt-animation
                                    input#order3.wrapper-field-input(type="email")
                                    label.input__label(for="order3")
                                        span.span-field-input E-mail*

                            .wrapper-field-btn
                                .wrapper-field-btn__enter Войти
                                .wrapper-field-btn__register Зарегистрироваться

                        p.p-grey Обратите внимание, что только зарегистрированные пользователи могут пользоваться преимуществами программы лояльности, получать скидки и бонусные начисления, а также просматривать информацию по заказу


                .orderRegistration-card-left__item
                    .orderRegistration-card-left__title  Доставка
                    .body-mod
                        .wrapper-field
                            .body-inpyt-animation
                                input#order4.wrapper-field-input
                                label.input__label(for="order4")
                                    span.span-field-input Город

                            .wrapper-field__title Тип доставки:
                            .categories-sidebar.all-checkbox
                                input#categories_1(type="radio" name="categories" value="СДЭК в пункт выдачи (от 3-х дней - от 300р)" checked).input-checkbox
                                label(for="categories_1").label-checkbox СДЭК в пункт выдачи (от 3-х дней - от 300р)

                                input#categories_2(type="radio" name="categories" value="СДЭК, курьером до двери (от 3-х дней - от 300р)").input-checkbox
                                label(for="categories_2").label-checkbox СДЭК, курьером до двери (от 3-х дней - от 300р)

                                input#categories_3(type="radio" name="categories" value="Почтой России (от 1 дня - от 199р)").input-checkbox
                                label(for="categories_3").label-checkbox Почтой России (от 1 дня - от 199р)

                                input#categories_4(type="radio" name="categories" value="Самовывоз из ПВЗ (бесплатно)").input-checkbox
                                label(for="categories_4").label-checkbox Самовывоз из ПВЗ (бесплатно)

                                input#categories_5(type="radio" name="categories" value="Самовывоз из магазина (бесплатно)").input-checkbox
                                label(for="categories_5").label-checkbox Самовывоз из магазина (бесплатно)




                            .wrapper-field__title.wrapper-field__title-mar *Выберите пункт выдачи:
                            .body-select-js
                                .wrapper-size
                                    .wrapper-input
                                        input(type="hidden" value="")
                                        .choice-of-size.select-value Выбрать
                                    .ii-product__selectors-wrp.js_size_selector
                                        .wrapper-list
                                            .wrapper-scrol
                                                .list
                                                    .list__itams(data-value="1") ул. 40 лет Победы, 184 корп. 3, пом. 1102
                                                    .list__itams(data-value="2") ул. Чекистов 22/1
                                                    .list__itams(data-value="3") ул. 40 лет Победы, 184 корп. 3, пом. 1102
                                                    .list__itams(data-value="4") ул. 40 лет Победы, 184 корп. 3, пом. 1102 ул. 40 лет Победы, 184 корп. 3, пом. 1102
                                                    .list__itams(data-value="5") Вариант 5
                                                    .list__itams(data-value="6") Вариант 6
                                                    .list__itams(data-value="7") Вариант 7
                                                    .list__itams(data-value="8") Вариант 8





                    .body-inputs
                        .body-inpyt-animation
                            input#order5.wrapper-field-input
                            label.input__label(for="order5")
                                span.span-field-input Улица*
                        .body-inpyt-animation
                            input#order6.wrapper-field-input
                            label.input__label(for="order6")
                                span.span-field-input Дом*
                        .body-inpyt-animation
                            input#order7.wrapper-field-input
                            label.input__label(for="order7")
                                span.span-field-input Этаж
                        .body-inpyt-animation
                            input#order8.wrapper-field-input
                            label.input__label(for="order8")
                                span.span-field-input Квартира*
                        .body-inpyt-animation.long
                            textarea#order9.wrapper-field-input.textarea(rows="1")
                            label.input__label(for="order9")
                                span.span-field-input Комментарий к заказу



                .orderRegistration-card-left__item
                    .orderRegistration-card-left__title  Оплата
                    .body-mod
                        .wrapper-field
                            .wrapper-field__title Выберите способ оплаты
                            .categories-sidebar.all-checkbox
                                input#categories_10(type="radio" name="categories1" value="Оплата при получении" ).input-checkbox
                                label(for="categories_10").label-checkbox Оплата при получении

                                input#categories_20(type="radio" name="categories1" value="Оплата картой онлайн" checked).input-checkbox
                                label(for="categories_20").label-checkbox Оплата картой онлайн









                .orderRegistration-card-left__btn.button_blue.desctop Оформить заказ

            .orderRegistration-card__right
                .card-right-element
                    .orderRegistration-card-right__title Состав заказа
                    .order-card-right__item
                        .order-card-right-item__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots7.png" data-src-small="img/boots7.png")
                        .order-card-right-item__functionality
                            .basket-card-item__description Kapika, Росиия
                            .basket-card-item__title Сапоги для мальчиков.
                            .basket-card-item__model Модель: 590к-2
                            .basket-card-item__color-size цвет черный, размер 33
                            .basket-card-item__priceNew 2 410 ₽
                            .basket-card-item__priceOld 2 410 ₽
                            .card-right-item-bottom
                                .card-info__quantity
                                    .card-info__minus
                                    input.card-info__number(value=1)
                                    .card-info__plus
                                .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                                    .basket-card-item__ic
                                        img(src="img/ic/delete.svg")
                    .order-card-right__item
                        .order-card-right-item__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots5.png" data-src-small="img/boots5.png")

                        .order-card-right-item__functionality
                            .basket-card-item__description Kapika, Росиия
                            .basket-card-item__title Сапоги для мальчиков.
                            .basket-card-item__model Модель: 590к-2
                            .basket-card-item__color-size цвет черный, размер 33
                            .basket-card-item__priceNew 2 410 ₽
                            .basket-card-item__priceOld 2 410 ₽
                            .card-right-item-bottom
                                .card-info__quantity
                                    .card-info__minus
                                    input.card-info__number(value=1)
                                    .card-info__plus
                                .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                                    .basket-card-item__ic
                                        img(src="img/ic/delete.svg")
                    .order-card-right__item
                        .order-card-right-item__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots3.png" data-src-small="img/boots3.png")

                        .order-card-right-item__functionality
                            .basket-card-item__description Kapika, Росиия
                            .basket-card-item__title Сапоги для мальчиков.
                            .basket-card-item__model Модель: 590к-2
                            .basket-card-item__color-size цвет черный, размер 33
                            .basket-card-item__priceNew 2 410 ₽
                            .basket-card-item__priceOld 2 410 ₽
                            .card-right-item-bottom
                                .card-info__quantity
                                    .card-info__minus
                                    input.card-info__number(value=1)
                                    .card-info__plus
                                .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                                    .basket-card-item__ic
                                        img(src="img/ic/delete.svg")
                    .order-card-right__result
                        .line-result
                            .line-result__left Товаров на сумму
                            .line-result__right 10 500р
                        .line-result
                            .line-result__left Ваша скидка
                            .line-result__right.line-result__right-red -4 000р
                        .line-result.line-result-bold
                            .line-result__left Итого
                            .line-result__right 4 000р


                    .orderRegistration-card-left__btn.button_blue.mobil Оформить заказ



