section.sec-authorization
    .container
        .body-authorization

            .body-input-personal-data.wr-widrh
                .body-inpyt-animation
                    input#authorization1.wrapper-field-input
                    label.input__label(for="authorization1")
                        span.span-field-input логин

                .body-inpyt-animation.password
                    img(src="img/ic/eye.svg").password-img
                    input#authorization2( type="password").wrapper-field-input
                    label.input__label(for="authorization2")
                        span.span-field-input Новый пароль

            .row-authorization
                .checkbox-save
                    input#categories_1(type="checkbox" name="categories" value="Запомнить меня").input-save
                    label(for="categories_1").label-save Запомнить меня

                a(href="#").forgot-password Забыли свой пароль?

            .authorization__btn.button_blue Войти

            p Если вы впервые на сайте, заполните, пожалуйста, регистрационную форму.
            a(href="#").register Зарегистрироваться








