section.sec-register
    .container
        .body-register
            .body-inpyt-animation
                input#register1.wrapper-field-input
                label.input__label(for="register1")
                    span.span-field-input Имя
            .body-inpyt-animation
                input#register2.wrapper-field-input
                label.input__label(for="register2")
                    span.span-field-input Фамилия
            .body-inpyt-animation
                input#register3.wrapper-field-input
                label.input__label(for="register3")
                    span.span-field-input Отчество
            .body-inpyt-animation
                input#register4.wrapper-field-input(type="tel")
                label.input__label(for="register4")
                    span.span-field-input Телефон*
            .body-inpyt-animation
                input#register5.wrapper-field-input(type="email")
                label.input__label(for="register5")
                    span.span-field-input E-mail*
            .body-inpyt-animation
                input#register6.wrapper-field-input
                label.input__label(for="register6")
                    span.span-field-input Город
            .body-inpyt-animation
                input#register7.wrapper-field-input
                label.input__label(for="register7")
                    span.span-field-input логин (минимум 3 символа)
            .body-inpyt-animation.password
                img(src="img/ic/eye.svg").password-img
                input#register8( type="password").wrapper-field-input
                label.input__label(for="register8")
                    span.span-field-input Пароль*
            .body-inpyt-animation.password
                img(src="img/ic/eye.svg").password-img
                input#register9( type="password").wrapper-field-input
                label.input__label(for="register9")
                    span.span-field-input Подтверждение пароля*
            .blockrobot
            .body-inpyt-animation
                input#register10( type="password").wrapper-field-input
                label.input__label(for="register10")
                    span.span-field-input Код с картинки*

            .register-btn.button_blue Зарегистрироваться

