section.sec_1-slider
    .container
        .body-slider-card
            .wrapper-slider-card
                .body-slider-little
                    .swiper-container.slider-little-container
                        .swiper-wrapper.slider-little-wrapper
                            .swiper-slide.slider-little-slide
                                img(src="img/mod1.png")
                            .swiper-slide.slider-little-slide
                                img(src="img/mod2.png")
                            .swiper-slide.slider-little-slide
                                img(src="img/mod3.png")
                            .swiper-slide.slider-little-slide
                                img(src="img/mod4.png")

                .body-slider-large
                    .popular-products__sale
                        img(src="img/ic/sale-20.svg")
                    .popular-products__favorites
                        img(src="img/ic/favorites.svg").ic-favorites
                        img(src="img/ic/favorites-active.svg").ic-favorites-active
                    .swiper-container.slider-large-container
                        .swiper-wrapper.slider-large-wrapper
                            .swiper-slide.slider-large-slide
                                img.slider-large-slide-img(src="img/mod11.png")
                            .swiper-slide.slider-large-slide

                                img.slider-large-slide-img(src="img/mod12.png")
                            .swiper-slide.slider-large-slide

                                img.slider-large-slide-img(src="img/mod13.png")
                            .swiper-slide.slider-large-slide

                                img.slider-large-slide-img(src="img/mod14.png")


                        .slider-large-pagination.style-pagination


            .wrapper-description
                .description__description Kapika, Росиия
                .description__title Сапоги для мальчиков.
                .description__model Модель: 590к-2
                .description__priceNew 2 410 ₽
                .description__priceOld 2 410 ₽
                .description__rating
                    .rating
                        .rating-body
                            .rating__active
                            .rating__items
                                input(type="radio" value="1" name="star").form__item__input

                                input(type="radio" value="2" name="star").form__item__input

                                input(type="radio" value="3" name="star").form__item__input

                                input(type="radio" value="4" name="star").form__item__input

                                input(type="radio" value="5" name="star").form__item__input


                        .rating__value.d-none 2.7

                    a(href="#").rating-text 5 отзывов
                .description__color
                    .description__header
                        .description__colorTitle  Цвет
                        .description__colorItem черный
                        .description__colorItem  серый
                        .description__colorItem  красный
                        .description__colorItem  желтый
                    .description__colorImgs
                        .description__colorImgs-scroll
                            .description__imgs-item
                                img(src="img/good_color.png")
                            .description__imgs-item.active
                                img(src="img/good_color.png")
                            .description__imgs-item
                                img(src="img/good_color.png")
                            .description__imgs-item
                                img(src="img/good_color.png")

                            .description__imgs-item
                                img(src="img/good_color.png")


                .description__size
                    .description__header
                        .description__sizeTitle  Размер
                        .description__sizeAsk
                            a(href="#") Как подобрать размер?

                    .description__size-items
                        .description__size-item.active <span>31</span>
                        .description__size-item <span>32</span>
                        .description__size-item <span>33</span>
                        .description__size-item <span>34</span>
                        .description__size-item.desable <span>35</span>
                        .description__size-item <span>36</span>
                        .description__size-item <span>37</span>
                        .description__size-item.desable <span>38</span>
                        .description__size-item <span>39</span>
                .description__btns
                    .wrapper-brnBlue
                        .button_blue Добавить в корзину
                    .wrapper-brnPink
                        .button_pink Купить в 1 клик

