section.sec_4-reviews
    .container
        .reviews-title.title-block Отзывы
        .body-reviews
            .reviews-all
                .reviews__item
                    .reviews-item__header
                        .reviews-item__name Екатерина
                        .reviews-item__date 10 окт
                    .reviews-item__rating
                        .reviews-item__title.DESCKTOP Оценка
                        .reviews-item__rating-stars
                            .simple-rating
                                .simple-rating__items
                                    input(type="radio" value="5" name="star1").form__item__input#form__item__input-50
                                    label(for="form__item__input-50").form__item__label
                                    input(type="radio" value="4" name="star1").form__item__input#form__item__input-40
                                    label(for="form__item__input-40").form__item__label
                                    input(type="radio" value="3" name="star1").form__item__input#form__item__input-30
                                    label(for="form__item__input-30").form__item__label
                                    input(type="radio" value="2" name="star1").form__item__input#form__item__input-20
                                    label(for="form__item__input-20").form__item__label
                                    input(type="radio" value="1" name="star1").form__item__input#form__item__input-10
                                    label(for="form__item__input-10").form__item__label


                    .reviews-item__comment
                        .reviews-item__title Комментарий
                        .reviews-item__comment-text Отличные сапоги, пришли размер в размер. Тёплые, удобные, ребенку нравится

                .reviews__item
                    .reviews-item__header
                        .reviews-item__name Екатерина
                        .reviews-item__date 10 окт
                    .reviews-item__rating
                        .reviews-item__title.DESCKTOP Оценка
                        .reviews-item__rating-stars
                            .simple-rating
                                .simple-rating__items
                                    input(type="radio" value="5" name="star").form__item__input#form__item__input-5
                                    label(for="form__item__input-5").form__item__label
                                    input(type="radio" value="4" name="star").form__item__input#form__item__input-4
                                    label(for="form__item__input-4").form__item__label
                                    input(type="radio" value="3" name="star").form__item__input#form__item__input-3
                                    label(for="form__item__input-3").form__item__label
                                    input(type="radio" value="2" name="star").form__item__input#form__item__input-2
                                    label(for="form__item__input-2").form__item__label
                                    input(type="radio" value="1" name="star").form__item__input#form__item__input-1
                                    label(for="form__item__input-1").form__item__label


                    .reviews-item__comment
                        .reviews-item__title Комментарий
                        .reviews-item__comment-text  Отличные сапоги, пришли размер в размер. Тёплые, удобные, ребенку нравится Отличные сапоги, пришли размер в размер. Тёплые, удобные, ребенку нравится

                .reviews-all__btn.button_pink Показать больше отзывов
            .reviews-info
                .reviews-info__header
                    .reviews-info__stars
                        .rating
                            .rating-body
                                .rating__active
                                .rating__items
                                    input(type="radio" value="1" name="star").form__item__input

                                    input(type="radio" value="2" name="star").form__item__input

                                    input(type="radio" value="3" name="star").form__item__input

                                    input(type="radio" value="4" name="star").form__item__input

                                    input(type="radio" value="5" name="star").form__item__input

                            .reviews-info__number
                                .rating__value 2.7
                                .rating__value-all  / 5
                .reviews-info__text По оценке <span>5</span> покупателей
                .reviews-info__btn.button_blue Написать отзыв

