section.sec_3-similar-products
    .container
        .similar-products__title.title-block Похожие товары
        .body-slider-similar-products
            .swiper-container.similar-products-container
                .swiper-wrapper
                    .swiper-slide.similar-products-slide
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.swiper-lazy(data-src="img/boots1.png")
                                    .swiper-lazy-preloader
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2
                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.dd.button_blue Добавить в корзину
                            .popular-products__btn.mm.button_blue В корзину
                    .swiper-slide.similar-products-slide
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.swiper-lazy(data-src="img/boots1.png")
                                    .swiper-lazy-preloader
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2
                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.dd.button_blue Добавить в корзину
                            .popular-products__btn.mm.button_blue В корзину
                    .swiper-slide.similar-products-slide
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.swiper-lazy(data-src="img/boots1.png")
                                    .swiper-lazy-preloader
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2
                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.dd.button_blue Добавить в корзину
                            .popular-products__btn.mm.button_blue В корзину
                    .swiper-slide.similar-products-slide
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.swiper-lazy(data-src="img/boots1.png")
                                    .swiper-lazy-preloader
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2
                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.dd.button_blue Добавить в корзину
                            .popular-products__btn.mm.button_blue В корзину

