section.sec_2-tabs
    .container
        .body-tabs-mobile.body-tabs

            ul.nav.tabs-items#pills-tab-mobil
                li.tabs-items__li
                    a.tabs-items__link.active#about-product-tab-mobil(data-toggle="pill" href="#about-product-mobil" aria-selected="true") О товаре
                li.tabs-items__li
                    a.tabs-items__link#specifications-tab-mobil(data-toggle="pill" href="#specifications-mobil" aria-selected="false") Характеристики


            .tab-content#pills-tabContent-mobil
                .tab-pane.tab-conten__item.fade.show.active#about-product-mobil
                    .wrapper-tab-conten.about-product-conten

                        .wrimg-conten
                            img(src="img/about-product.svg")

                        p <span>Стильные калоши</span> –не только прекрасная возможность выглядеть красиво в любую погоду, но и надежная защита от холода и сырости поздней осенью и ранней весной. Стельки в калоше сдублированы с фольгой, что способствует свободному отведению естественных испарений тела наружу и надежно сохраняет тепло внутри


                .tab-pane.tab-conten__item.fade#specifications-mobil
                    .wrapper-tab-conten
                        table
                            tr
                                td Артикул
                                td КФ-00000241
                            tr
                                td Бренд
                                td Kapika, Россия
                            tr
                                td Пол
                                td мальчики
                            tr
                                td Тип товара
                                td сапоги
                            tr
                                td Сезон
                                td зима
                            tr
                                td Цвет
                                td черный
                            tr
                                td Материал верха
                                td текстиль/искусственная  <br>кожа/полимерный материал
                            tr
                                td Материал подклада
                                td текстиль (шерсть 30%)
                            tr
                                td Материал стельки
                                td текстиль (шерсть 30%)
                            tr
                                td Подошва
                                td полимерный материал








            .delivery
                .delivery__title Доставка
                .delivery-and-payment-items
                    .wric
                        img(src="img/ic/map.svg")
                    .wrtext
                        a(href="#") Рязань

                .delivery-and-payment-items
                    .wric
                        img(src="img/ic/Shop.svg")
                    .wrtext
                        p Самовывоз из магазина <br><span>сегодня, бесплатно</span>
                .delivery-and-payment-items
                    .wric
                        img(src="img/ic/Delivery.svg")
                    .wrtext
                        p Службой доставки <br><span>26 января</span>



            .point-shop
                .delivery__title Наличие в магазинах
                .available В наличии в <span>3х магазинах</span>
                .available-body
                    .itemshop
                        .itemshop__ic
                            img(src="img/ic/shop-ic.svg")
                        .itemshop__text
                            .titile-b ул. Вокзальная 26
                            a.phone-shop(href="tel:(4912) 92-77-99") тел: (4912) 92-77-99
                            .tame-work с 9:00 до 20:00 <br>без выходных
                    .itemshop
                        .itemshop__ic
                            img(src="img/ic/shop-ic.svg")
                        .itemshop__text
                            .titile-b ул. Вокзальная 26
                            a.phone-shop(href="tel:(4912) 92-77-99") тел: (4912) 92-77-99
                            .tame-work с 9:00 до 20:00 <br>без выходных
                    .itemshop
                        .itemshop__ic
                            img(src="img/ic/shop-ic.svg")
                        .itemshop__text
                            .titile-b ул. Вокзальная 26
                            a.phone-shop(href="tel:(4912) 92-77-99") тел: (4912) 92-77-99
                            .tame-work с 9:00 до 20:00 <br>без выходных
                    .itemshop
                        .itemshop__ic
                            img(src="img/ic/shop-ic.svg")
                        .itemshop__text
                            .titile-b ул. Вокзальная 26
                            a.phone-shop(href="tel:(4912) 92-77-99") тел: (4912) 92-77-99
                            .tame-work с 9:00 до 20:00 <br>без выходных



        .body-tabs-desctop.body-tabs

            ul.nav.tabs-items#pills-tab
                li.tabs-items__li
                    a.tabs-items__link.active#specifications-tab(data-toggle="pill" href="#specifications" aria-selected="false") Характеристики
                li.tabs-items__li
                    a.tabs-items__link#about-product-tab(data-toggle="pill" href="#about-product" aria-selected="true") О товаре
                li.tabs-items__li
                    a.tabs-items__link#delivery-and-payment-tab(data-toggle="pill" href="#delivery-and-payment" aria-selected="false") Доставка и оплата
                li.tabs-items__li
                    a.tabs-items__link#availability-stores-tab(data-toggle="pill" href="#availability-stores" aria-selected="true") Наличие в магазинах


            .tab-content#pills-tabContent
                .tab-pane.tab-conten__item.fade#about-product
                    .wrapper-tab-conten.about-product-conten

                        .wrimg-conten
                            img(src="img/about-product.svg")

                        p <span>Стильные калоши</span> –не только прекрасная возможность выглядеть красиво в любую погоду, но и надежная защита от холода и сырости поздней осенью и ранней весной. Стельки в калоше сдублированы с фольгой, что способствует свободному отведению естественных испарений тела наружу и надежно сохраняет тепло внутри

                .tab-pane.tab-conten__item.fade.show.active#specifications
                    .wrapper-tab-conten
                        table
                            tr
                                td Артикул
                                td КФ-00000241
                            tr
                                td Бренд
                                td Kapika, Россия
                            tr
                                td Пол
                                td мальчики
                            tr
                                td Тип товара
                                td сапоги
                            tr
                                td Сезон
                                td зима
                            tr
                                td Цвет
                                td черный
                            tr
                                td Материал верха
                                td текстиль/искусственная  <br>кожа/полимерный материал
                            tr
                                td Материал подклада
                                td текстиль (шерсть 30%)
                            tr
                                td Материал стельки
                                td текстиль (шерсть 30%)
                            tr
                                td Подошва
                                td полимерный материал


                .tab-pane.tab-conten__item.fade#delivery-and-payment
                    .wrapper-tab-conten
                        .delivery-and-payment-items
                            .wric
                                img(src="img/ic/map.svg")
                            .wrtext
                                a(href="#") Рязань

                        .delivery-and-payment-items
                            .wric
                                img(src="img/ic/Shop.svg")
                            .wrtext
                                p Самовывоз из магазина <br><span>сегодня, бесплатно</span>
                        .delivery-and-payment-items
                            .wric
                                img(src="img/ic/Delivery.svg")
                            .wrtext
                                p Службой доставки <br><span>26 января</span>

                .tab-pane.tab-conten__item.fade#availability-stores
                    .wrapper-tab-conten.point-shop
                        .itemshop
                            .itemshop__ic
                                img(src="img/ic/shop-ic.svg")
                            .itemshop__text
                                .titile-b ул. Вокзальная 26
                                a.phone-shop(href="tel:(4912) 92-77-99") тел: (4912) 92-77-99
                                .tame-work с 9:00 до 20:00 <br>без выходных
                        .itemshop
                            .itemshop__ic
                                img(src="img/ic/shop-ic.svg")
                            .itemshop__text
                                .titile-b ул. Вокзальная 26
                                a.phone-shop(href="tel:(4912) 92-77-99") тел: (4912) 92-77-99
                                .tame-work с 9:00 до 20:00 <br>без выходных
                        .itemshop
                            .itemshop__ic
                                img(src="img/ic/shop-ic.svg")
                            .itemshop__text
                                .titile-b ул. Вокзальная 26
                                a.phone-shop(href="tel:(4912) 92-77-99") тел: (4912) 92-77-99
                                .tame-work с 9:00 до 20:00 <br>без выходных
                        .itemshop
                            .itemshop__ic
                                img(src="img/ic/shop-ic.svg")
                            .itemshop__text
                                .titile-b ул. Вокзальная 26
                                a.phone-shop(href="tel:(4912) 92-77-99") тел: (4912) 92-77-99
                                .tame-work с 9:00 до 20:00 <br>без выходных

