section.sec_1-sidebar
    .container
        .body-sidebar

            .wrapper-sidebar
                .btn-close-sitings
                    img(src="img/ic/close.svg")
                form.sidebar-form
                    .wrarpper-categories.steps
                        .sidebar-form__title Категрии
                        .categories-sidebar.all-checkbox
                            input#categories_1(type="checkbox" name="categories" value="Девочки").input-checkbox
                            label(for="categories_1").label-checkbox Девочки

                            input#categories_2(type="checkbox" name="categories" value="Мальчики").input-checkbox
                            label(for="categories_2").label-checkbox Мальчики

                            input#categories_3(type="checkbox" name="categories" value="Сезонное").input-checkbox
                            label(for="categories_3").label-checkbox Сезонное

                            input#categories_4(type="checkbox" name="categories" value="Акция").input-checkbox
                            label(for="categories_4").label-checkbox Акция




                    .wrarpper-price.steps
                        .sidebar-form__title Цена
                        .filter-slider-price
                            .range(data-width="230" data-type="double" data-units="")
                                .range-fill
                                span.min-range-item(data-value="0")
                                span.max-range-item(data-value="15000")

                            .info
                                .min-box
                                    span.min-price
                                    span р
                                .max-box
                                    span.max-price
                                    span р

                    .wrarpper-product-type.steps
                        .sidebar-form__title Вид товара

                        .product-type-sidebar.all-checkbox
                            input#product-type_1(type="checkbox" name="product-type" value="Босоножки").input-checkbox
                            label(for="product-type_1").label-checkbox Босоножки

                            input#product-type_2(type="checkbox" name="product-type" value="Ботинки").input-checkbox
                            label(for="product-type_2").label-checkbox Ботинки

                            input#product-type_3(type="checkbox" name="product-type" value="Валенки").input-checkbox
                            label(for="product-type_3").label-checkbox Валенки

                            input#product-type_4(type="checkbox" name="product-type" value="Кеды").input-checkbox
                            label(for="product-type_4").label-checkbox Кеды

                            input#product-type_5(type="checkbox" name="product-type" value="Мокасины").input-checkbox
                            label(for="product-type_5").label-checkbox Мокасины

                            input#product-type_6(type="checkbox" name="product-type" value="Пляжная обувь").input-checkbox
                            label(for="product-type_6").label-checkbox Пляжная обувь



                    .wrarpper-season.steps
                        .sidebar-form__title Сезон
                        .season-sidebar.all-checkbox
                            input#season_1(type="checkbox" name="season" value="Демисезон").input-checkbox
                            label(for="season_1").label-checkbox Демисезон

                            input#season_2(type="checkbox" name="season" value="Зима").input-checkbox
                            label(for="season_2").label-checkbox Зима

                            input#season_3(type="checkbox" name="season" value="Круглогодичный").input-checkbox
                            label(for="season_3").label-checkbox Круглогодичный

                            input#season_4(type="checkbox" name="season" value="Лето").input-checkbox
                            label(for="season_4").label-checkbox Лето

                            input#season_5(type="checkbox" name="season" value="Мокасины").input-checkbox
                            label(for="season_5").label-checkbox Мокасины

                            input#season_6(type="checkbox" name="season" value="Пляжная обувь").input-checkbox
                            label(for="season_6").label-checkbox Пляжная обувь





                    .wrarpper-size.steps
                        .sidebar-form__title размер
                        .size-sidebar.all-checkbox
                            input#size_13(type="checkbox" name="size" value="13").input-checkbox
                            label(for="size_13").label-checkbox 13

                            input#size_14(type="checkbox" name="size" value="14").input-checkbox
                            label(for="size_14").label-checkbox 14

                            input#size_15(type="checkbox" name="size" value="15").input-checkbox
                            label(for="size_15").label-checkbox 15

                            input#size_16(type="checkbox" name="size" value="16").input-checkbox
                            label(for="size_16").label-checkbox 16

                            input#size_17(type="checkbox" name="size" value="17").input-checkbox
                            label(for="size_17").label-checkbox 17

                            input#size_18(type="checkbox" name="size" value="18").input-checkbox
                            label(for="size_18").label-checkbox 18

                            input#size_19(type="checkbox" name="size" value="19").input-checkbox
                            label(for="size_19").label-checkbox 19

                            input#size_20(type="checkbox" name="size" value="20").input-checkbox
                            label(for="size_20").label-checkbox 20

                            input#size_21(type="checkbox" name="size" value="21").input-checkbox
                            label(for="size_21").label-checkbox 21

                            input#size_22(type="checkbox" name="size" value="22").input-checkbox
                            label(for="size_22").label-checkbox 22

                            input#size_23(type="checkbox" name="size" value="23").input-checkbox
                            label(for="size_23").label-checkbox 23

                            input#size_24(type="checkbox" name="size" value="24").input-checkbox
                            label(for="size_24").label-checkbox 24

                            input#size_25(type="checkbox" name="size" value="25").input-checkbox
                            label(for="size_25").label-checkbox 25

                            input#size_26(type="checkbox" name="size" value="26").input-checkbox
                            label(for="size_26").label-checkbox 26

                            input#size_27(type="checkbox" name="size" value="27").input-checkbox
                            label(for="size_27").label-checkbox 27

                            input#size_28(type="checkbox" name="size" value="28").input-checkbox
                            label(for="size_28").label-checkbox 28

                            input#size_29(type="checkbox" name="size" value="29").input-checkbox
                            label(for="size_29").label-checkbox 29

                            input#size_30(type="checkbox" name="size" value="30").input-checkbox
                            label(for="size_30").label-checkbox 30

                            input#size_31(type="checkbox" name="size" value="31").input-checkbox
                            label(for="size_31").label-checkbox 31

                            input#size_32(type="checkbox" name="size" value="32").input-checkbox
                            label(for="size_32").label-checkbox 32

                            input#size_33(type="checkbox" name="size" value="33").input-checkbox
                            label(for="size_33").label-checkbox 33

                            input#size_34(type="checkbox" name="size" value="34").input-checkbox
                            label(for="size_34").label-checkbox 34

                            input#size_35(type="checkbox" name="size" value="35").input-checkbox
                            label(for="size_35").label-checkbox 35

                            input#size_36(type="checkbox" name="size" value="36").input-checkbox
                            label(for="size_36").label-checkbox 36

                            input#size_10(type="checkbox" name="size" value="37").input-checkbox
                            label(for="size_10").label-checkbox 37

                            input#size_38(type="checkbox" name="size" value="38").input-checkbox
                            label(for="size_38").label-checkbox 38

                            input#size_39(type="checkbox" name="size" value="39").input-checkbox
                            label(for="size_39").label-checkbox 39

                            input#size_40(type="checkbox" name="size" value="40").input-checkbox
                            label(for="size_40").label-checkbox 40

                            input#size_41(type="checkbox" name="size" value="41").input-checkbox
                            label(for="size_41").label-checkbox 41

                            input#size_60(type="checkbox" name="size" value="42").input-checkbox
                            label(for="size_60").label-checkbox 42

                            input#size_1(type="checkbox" name="size" value="43").input-checkbox
                            label(for="size_1").label-checkbox 43

                            input#size_2(type="checkbox" name="size" value="44").input-checkbox
                            label(for="size_2").label-checkbox 44

                            input#size_3(type="checkbox" name="size" value="45").input-checkbox
                            label(for="size_3").label-checkbox 45

                            input#size_4(type="checkbox" name="size" value="46").input-checkbox
                            label(for="size_4").label-checkbox 46

                            input#size_5(type="checkbox" name="size" value="47").input-checkbox
                            label(for="size_5").label-checkbox 47

                            input#size_6(type="checkbox" name="size" value="48").input-checkbox
                            label(for="size_6").label-checkbox 48




                    .wrarpper-colour.steps
                        .sidebar-form__title Цвет
                        .colour-sidebar.all-checkbox
                            input#colour_1(type="checkbox" name="colour" value="Розовый").input-checkbox
                            label(for="colour_1").label-checkbox Розовый

                            input#colour_2(type="checkbox" name="colour" value="Бежевый").input-checkbox
                            label(for="colour_2").label-checkbox Бежевый

                            input#colour_3(type="checkbox" name="colour" value="Черный").input-checkbox
                            label(for="colour_3").label-checkbox Черный

                            input#colour_4(type="checkbox" name="colour" value="Серый").input-checkbox
                            label(for="colour_4").label-checkbox Серый

                            input#colour_5(type="checkbox" name="colour" value="Синий").input-checkbox
                            label(for="colour_5").label-checkbox Синий

                            input#colour_6(type="checkbox" name="colour" value="Красный").input-checkbox
                            label(for="colour_6").label-checkbox Красный


                    .wrarpper-brand.steps
                        .sidebar-form__title бренд

                        .brand-sidebar.all-checkbox
                            input#brand_1(type="checkbox" name="brand" value="Капика, Россия").input-checkbox
                            label(for="brand_1").label-checkbox Капика, Россия

                            input#brand_2(type="checkbox" name="brand" value="Bottilini, Россия").input-checkbox
                            label(for="brand_2").label-checkbox Bottilini, Россия

                            input#brand_3(type="checkbox" name="brand" value="Elegami, Китай").input-checkbox
                            label(for="brand_3").label-checkbox Elegami, Китай

                            input#brand_4(type="checkbox" name="brand" value="Forio, Россия").input-checkbox
                            label(for="brand_4").label-checkbox Forio, Россия

                            input#brand_5(type="checkbox" name="brand" value="Imac, Италия").input-checkbox
                            label(for="brand_5").label-checkbox Imac, Италия

                            input#brand_6(type="checkbox" name="brand" value="Антилопа, Росиия").input-checkbox
                            label(for="brand_6").label-checkbox Антилопа, Росиия


                    .wrarpper-upper-material.steps
                        .sidebar-form__title Материал верха

                        .upper-material-sidebar.all-checkbox
                            input#upper-material_1(type="checkbox" name="upper-material" value="Розовый").input-checkbox
                            label(for="upper-material_1").label-checkbox Розовый

                            input#upper-material_2(type="checkbox" name="upper-material" value="Бежевый").input-checkbox
                            label(for="upper-material_2").label-checkbox Бежевый

                            input#upper-material_3(type="checkbox" name="upper-material" value="Черный").input-checkbox
                            label(for="upper-material_3").label-checkbox Черный

                            input#upper-material_4(type="checkbox" name="upper-material" value="Серый").input-checkbox
                            label(for="upper-material_4").label-checkbox Серый

                            input#upper-material_5(type="checkbox" name="upper-material" value="Синий").input-checkbox
                            label(for="upper-material_5").label-checkbox Синий

                            input#upper-material_6(type="checkbox" name="upper-material" value="Красный").input-checkbox
                            label(for="upper-material_6").label-checkbox Красный


                    .wrarpper-lining-material.steps
                        .sidebar-form__title Материал подклада

                        .lining-material-sidebar.all-checkbox
                            input#lining-material_1(type="checkbox" name="lining-material" value="Розовый").input-checkbox
                            label(for="lining-material_1").label-checkbox Розовый

                            input#lining-material_2(type="checkbox" name="lining-material" value="Бежевый").input-checkbox
                            label(for="lining-material_2").label-checkbox Бежевый

                            input#lining-material_3(type="checkbox" name="lining-material" value="Черный").input-checkbox
                            label(for="lining-material_3").label-checkbox Черный

                            input#lining-material_4(type="checkbox" name="lining-material" value="Серый").input-checkbox
                            label(for="lining-material_4").label-checkbox Серый

                            input#lining-material_5(type="checkbox" name="lining-material" value="Синий").input-checkbox
                            label(for="lining-material_5").label-checkbox Синий

                            input#lining-material_6(type="checkbox" name="lining-material" value="Красный").input-checkbox
                            label(for="lining-material_6").label-checkbox Красный



                    .wrarpper-btn-go
                        .button_pink Применить

                    .wrarpper-btn-reset
                        .btn-reset Сбросить фильтр

            .wrapper-googs
                form.sorting-form
                    .sorting-form__title Сортировать
                    .wrapper-size
                        .wrapper-input
                            input(type="hidden" value="")
                            .choice-of-size.select-value.price-text по возрастанию цены

                        .ii-product__selectors-wrp.js_size_selector
                            .wrapper-list
                                .list
                                    .list__itams.inp-desc(data-value="1") по возрастанию цены
                                    .list__itams.inp-mobl(data-value="1") ценa ↑
                                    .list__itams.inp-desc(data-value="2") по убыванию цены
                                    .list__itams.inp-mobl(data-value="2") ценa ↓
                                    .list__itams(data-value="3") по популярности
                                    .list__itams(data-value="4") по новизне

                .btn-settings.MOBILE
                    img(src="img/ic/settings.svg")
                .body-good-it
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items

                            .popular-products__sale
                                .wrapper-products__sale
                                    img(src="img/ic/sale-20.svg")
                                    span -20%
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots2.png" data-src-small="img/boots2.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2 Модель 44230-2 Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__sale
                                .wrapper-products__sale
                                    img(src="img/ic/sale-20.svg")
                                    span -20%
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots2.png" data-src-small="img/boots2.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2 Модель 44230-2 Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__sale
                                .wrapper-products__sale
                                    img(src="img/ic/sale-20.svg")
                                    span -20%
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots2.png" data-src-small="img/boots2.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2 Модель 44230-2 Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__sale
                                img(src="img/ic/sale-20.svg")
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots2.png" data-src-small="img/boots2.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2 Модель 44230-2 Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__sale
                                img(src="img/ic/sale-20.svg")
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots2.png" data-src-small="img/boots2.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2 Модель 44230-2 Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__sale
                                img(src="img/ic/sale-20.svg")
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots2.png" data-src-small="img/boots2.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2 Модель 44230-2 Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__sale
                                img(src="img/ic/sale-20.svg")
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots2.png" data-src-small="img/boots2.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2 Модель 44230-2 Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину
                    .popular-products__items
                        .wrapper-products__items
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            a(href="#")
                                .popular-products__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                                .popular-products__subtitle Девочкам / 6-12 лет
                                .popular-products__name Сапоги для девочки. Модель 44230-2

                            .popular-products__price 3 650 р <span>5 800р</span>
                            .popular-products__btn.button_blue В корзину


                include ./../../pug/pagination
                .wr-btn-more
                    .googs-btn.button_pink Показать ещё











