section.sec-shipping-payment
    .container
        .body-shipping-payment
            .tab-row-shipping-payment.blue
                .tab-row-shipping-payment__title Доставка
                .block-skroll
                    ul.nav.tabs-shipping-payment#delivery
                        li.tabs-items__li
                            a.tabs-items__link.active#sdek-tab(data-toggle="pill" href="#SDEK " aria-selected="false") Доставка по России службой СДЭК
                        li.tabs-items__li
                            a.tabs-items__link#russianpost-tab(data-toggle="pill" href="#russianpost" aria-selected="true") Почта России
                        li.tabs-items__li
                            a.tabs-items__link#pickup-tab(data-toggle="pill" href="#pickup" aria-selected="false") Самовывоз
                        li.tabs-items__li
                            a.tabs-items__link#express-delivery-tab(data-toggle="pill" href="#express-delivery" aria-selected="true") Курьерская доставка


                .tab-content#deliveryContent
                    .tab-pane.tab-conten__item.fade.show.active#SDEK
                        .wrapper-tab-conten
                            p 1111 Курьер доставит Ваши покупки в любой район города Рязань .
                            p Время доставки уточняется по телефону с менеджером нашего интернет-магазина.

                            ul
                                li Курьер принимает только наличные.
                                li Курьер принимает только наличные.
                                li Курьер принимает только наличные.
                                li Курьер принимает только наличные.

                            h2 Курьер
                            h3 Курьер
                            h4 Курьер


                    .tab-pane.tab-conten__item.fade#russianpost
                        .wrapper-tab-conten
                            p 2222 Курьер доставит Ваши покупки в любой район города Рязань .
                            p Время доставки уточняется по телефону с менеджером нашего интернет-магазина.
                            p При получении товара Вам будут переданы все необходимые документы на покупку: кассовый чек, товарный чек (по требованию) и гарантийный талон.
                            p Стоимость доставки не входит в стоимость товаров.
                            p Доставка по Рязани бесплатна, если стоимость ваших покупок более 2500 руб, если менее, то стоимость доставки составит 200 рублей.
                            p Курьер принимает только наличные.
                            p Цена, указанная в документах на ваш заказ является окончательной. Курьер не обладает правом корректировки цены (не торгуется).



                    .tab-pane.tab-conten__item.fade#pickup
                        .wrapper-tab-conten
                            p 3333 Курьер доставит Ваши покупки в любой район города Рязань .
                            p Время доставки уточняется по телефону с менеджером нашего интернет-магазина.
                            p При получении товара Вам будут переданы все необходимые документы на покупку: кассовый чек, товарный чек (по требованию) и гарантийный талон.
                            p Стоимость доставки не входит в стоимость товаров.
                            p Доставка по Рязани бесплатна, если стоимость ваших покупок более 2500 руб, если менее, то стоимость доставки составит 200 рублей.
                            p Курьер принимает только наличные.
                            p Цена, указанная в документах на ваш заказ является окончательной. Курьер не обладает правом корректировки цены (не торгуется).


                    .tab-pane.tab-conten__item.fade#express-delivery
                        .wrapper-tab-conten
                            p 4444 Курьер доставит Ваши покупки в любой район города Рязань .
                            p Время доставки уточняется по телефону с менеджером нашего интернет-магазина.
                            p При получении товара Вам будут переданы все необходимые документы на покупку: кассовый чек, товарный чек (по требованию) и гарантийный талон.
                            p Стоимость доставки не входит в стоимость товаров.
                            p Доставка по Рязани бесплатна, если стоимость ваших покупок более 2500 руб, если менее, то стоимость доставки составит 200 рублей.
                            p Курьер принимает только наличные.
                            p Цена, указанная в документах на ваш заказ является окончательной. Курьер не обладает правом корректировки цены (не торгуется).







            .tab-row-shipping-payment.pink
                .tab-row-shipping-payment__title Оплата
                .block-skroll
                    ul.nav.tabs-shipping-payment#payment
                        li.tabs-items__li
                            a.tabs-items__link.active#pay-online-tab(data-toggle="pill" href="#pay-online" aria-selected="false") оплата онлайн
                        li.tabs-items__li
                            a.tabs-items__link#cash-tab(data-toggle="pill" href="#cash" aria-selected="true") Наличными при получении
                        li.tabs-items__li
                            a.tabs-items__link#cashless-payment-tab(data-toggle="pill" href="#cashless-payment" aria-selected="false") Безналичный расчет при получении



                .tab-content#paymentContent
                    .tab-pane.tab-conten__item.fade.show.active#pay-online
                        .wrapper-tab-conten
                            p 1111 Курьер доставит Ваши покупки в любой район города Рязань .
                            p Время доставки уточняется по телефону с менеджером нашего интернет-магазина.

                            ul
                                li Курьер принимает только наличные.
                                li Курьер принимает только наличные.
                                li Курьер принимает только наличные.
                                li Курьер принимает только наличные.

                            h2 Курьер
                            h3 Курьер
                            h4 Курьер

                    .tab-pane.tab-conten__item.fade#cash
                        .wrapper-tab-conten
                            p 2222 Курьер доставит Ваши покупки в любой район города Рязань .
                            p Время доставки уточняется по телефону с менеджером нашего интернет-магазина.
                            p При получении товара Вам будут переданы все необходимые документы на покупку: кассовый чек, товарный чек (по требованию) и гарантийный талон.
                            p Стоимость доставки не входит в стоимость товаров.
                            p Доставка по Рязани бесплатна, если стоимость ваших покупок более 2500 руб, если менее, то стоимость доставки составит 200 рублей.
                            p Курьер принимает только наличные.
                            p Цена, указанная в документах на ваш заказ является окончательной. Курьер не обладает правом корректировки цены (не торгуется).



                    .tab-pane.tab-conten__item.fade#cashless-payment
                        .wrapper-tab-conten
                            p 3333 Курьер доставит Ваши покупки в любой район города Рязань .
                            p Время доставки уточняется по телефону с менеджером нашего интернет-магазина.
                            p При получении товара Вам будут переданы все необходимые документы на покупку: кассовый чек, товарный чек (по требованию) и гарантийный талон.
                            p Стоимость доставки не входит в стоимость товаров.
                            p Доставка по Рязани бесплатна, если стоимость ваших покупок более 2500 руб, если менее, то стоимость доставки составит 200 рублей.
                            p Курьер принимает только наличные.
                            p Цена, указанная в документах на ваш заказ является окончательной. Курьер не обладает правом корректировки цены (не торгуется).








