.kidsgo-modal-dialog {
  @media (min-width: 1200px) {
     max-width: 1170px;
  }
  @media (min-width: 1600px) {
    max-width: 1550px;
  }

}

.kidsgo-modal-body{
  margin: 0 !important;
  padding: 0 !important;
  @include mq('desktop') {
    width: 70%;
  }
  @include mq('desktop') {
    width: 100%;
  }
}

.kidsgo-modal-content {
  padding: 50px 35px;
  background: #F4F4F4;
  border-radius: 0;
  //border: 1px solid $color3;
  //box-shadow: 0px 4px 50px 22px rgba(245, 223, 77, 0.15);
  //background: $color1;
  @include mq('desktop') {
    padding: 70px;
    @if( $link-img == ''){
      background-image: url("../img/modal.png");
    } @else {
      background-image: url( $link-img + "/img/modal.png");
    }
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 47%;
    //border: 3px solid $color3;
  }

}

.Closekidsgo {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 1;
  z-index: 9;
  &:active,
  &:focus,
  &:hover{
    outline: none;
    border: none;
  }
}

.kidsgo-modal-body__title {

  margin-bottom: 35px;
}

.formkidsgo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.bodyFr {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include mq('desktop') {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.wrformkidsgo {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  .inputkidsgo {
    padding: 10px 20px 10px 0;
    //background: $color1;
    //color: $color2;
    @include adaptiv-font(16, 16);
    font-weight: 400;
    width: 100%;
   // border-bottom: 1px solid $color2;
    &::placeholder{
     // color: $color2;
    }
  }

  @include mq('desktop') {
    width: 50%;
    padding: 0 15px;
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}

.polit {
  margin: 10px 0 35px;
  width: 100%;
  @include mq('tablet-wide') {
    margin: 20px 0 40px;
  }
  @include adaptiv-font(12, 12);
  font-weight: 300;

  a {
    text-decoration: underline;
    cursor: pointer;
    //color: $color2;
    &:hover{
     // color: $color3;
    }
  }
}
.wrformkidsgoBtn{
  @include maq('tablet-wide') {
    width: 100%;
    .form-btn{
      width: 100%;
    }
  }
}




//модалка корзины
.basket-modal{
  .kidsgo-modal-content{
    border-radius: 21px;
    padding: 25px;
    @include mq('phone-midle') {
      width: 82%;
      margin: auto;
    }
    @include mq('tablet') {
      width: 300px;
    }
  }
}

//модалка удаления товара
.kidsgo-modal-del{


  .kidsgo-modal-body__title-del{
    @include adaptiv-font(18, 16);
    font-weight: bold;
    text-align: center;
  }

  .wrformkidsgoBtn-del{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }

  .del-btn{
    @include adaptiv-font(18, 18);
    font-weight: bold;
    padding: 9px 35px;
    border-radius: 21px;
    cursor: pointer;
  }

  .form-btn-yes{
    border: 2px solid $color_4p;
    color: $color_4p;

    &:hover{
      background: $color_4p;
      color: $color_2w;
    }
  }
  .form-btn-no{
    border: 2px solid $color_3b;
    color: $color_3b;

    &:hover{
      background: $color_3b;
      color: $color_2w;
    }
  }
}

//модалка кол-во товара
.kidsgo-modal-number{

  .kidsgo-modal-content{
    padding: 17px 17px 17px 0;
  }

  .kidsgo-modal-body__title-number{
    @include adaptiv-font(18, 16);
    font-weight: bold;
    padding-left: 17px;
  }

  .formkidsgo{
    max-height: 100px;
    overflow-y: auto;
    width: 100%;
    margin-top: 15px;
  }

  .wrformkidsgoList-number{
    width: 100%;
    li{
      padding: 10px 14px;
      border-bottom: 1px solid $color_6g;
      @include adaptiv-font(16, 14);
      font-weight: bold;
    }
    &:hover{

    }
  }
}
