.kidsgo-modal-dialog {
  @media (min-width: 1200px) {
     max-width: 1170px;
  }
  @media (min-width: 1600px) {
    max-width: 1550px;
  }

}

.kidsgo-modal-body{
  margin: 0 !important;
  padding: 0 !important;
  @include mq('desktop') {
    width: 70%;
  }
  @include mq('desktop') {
    width: 100%;
  }
}

.kidsgo-modal-content {
  padding: 50px 35px;
  background: #F4F4F4;
  border-radius: 0;
  //border: 1px solid $color3;
  //box-shadow: 0px 4px 50px 22px rgba(245, 223, 77, 0.15);
  //background: $color1;
  @include mq('desktop') {
    padding: 70px;
    @if( $link-img == ''){
      background-image: url("../img/modal.png");
    } @else {
      background-image: url( $link-img + "/img/modal.png");
    }
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 47%;
    //border: 3px solid $color3;
  }

}

.Closekidsgo {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 1;
  z-index: 9;
  &:active,
  &:focus,
  &:hover{
    outline: none;
    border: none;
  }
}

.kidsgo-modal-body__title {

  margin-bottom: 35px;
}

.formkidsgo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.bodyFr {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include mq('desktop') {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.wrformkidsgo {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  .inputkidsgo {
    padding: 10px 20px 10px 0;
    //background: $color1;
    //color: $color2;
    @include adaptiv-font(16, 16);
    font-weight: 400;
    width: 100%;
   // border-bottom: 1px solid $color2;
    &::placeholder{
     // color: $color2;
    }
  }

  @include mq('desktop') {
    width: 50%;
    padding: 0 15px;
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}

.polit {
  margin: 10px 0 35px;
  width: 100%;
  @include mq('tablet-wide') {
    margin: 20px 0 40px;
  }
  @include adaptiv-font(12, 12);
  font-weight: 300;

  a {
    text-decoration: underline;
    cursor: pointer;
    //color: $color2;
    &:hover{
     // color: $color3;
    }
  }
}

.wrformkidsgoBtn{
  @include maq('tablet-wide') {
    width: 100%;
    .form-btn{
      width: 100%;
    }
  }
}

//модалка корзины
.basket-modal{
  .kidsgo-modal-content{
    border-radius: 21px;
    padding: 25px;
    @include mq('phone-midle') {
      width: 82%;
      margin: auto;
    }
    @include mq('tablet') {
      width: 300px;
    }
  }
}

//модалка удаления товара
.kidsgo-modal-del{


  .kidsgo-modal-body__title-del{
    @include adaptiv-font(18, 16);
    font-weight: bold;
    text-align: center;
  }

  .wrformkidsgoBtn-del{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }

  .del-btn{
    @include adaptiv-font(18, 18);
    font-weight: bold;
    padding: 9px 35px;
    border-radius: 21px;
    cursor: pointer;
  }

  .form-btn-yes{
    border: 2px solid $color_4p;
    color: $color_4p;

    &:hover{
      background: $color_4p;
      color: $color_2w;
    }
  }
  .form-btn-no{
    border: 2px solid $color_3b;
    color: $color_3b;

    &:hover{
      background: $color_3b;
      color: $color_2w;
    }
  }
}

//модалка кол-во товара
.kidsgo-modal-number{

  .kidsgo-modal-content{
    padding: 17px 17px 17px 0;
  }

  .kidsgo-modal-body__title-number{
    @include adaptiv-font(18, 16);
    font-weight: bold;
    padding-left: 17px;
  }

  .formkidsgo{
    max-height: 100px;
    overflow-y: auto;
    width: 100%;
    margin-top: 15px;
  }

  .wrformkidsgoList-number{
    width: 100%;
    li{
      padding: 10px 14px;
      border-bottom: 1px solid $color_6g;
      @include adaptiv-font(16, 14);
      font-weight: bold;
    }
    &:hover{

    }
  }
}

//модалка корзины
.city-modal{
  .kidsgo-modal-content{
    border-radius: 21px;
    padding: 25px;
    @include mq('phone-midle') {
      width: 82%;
      margin: auto;
    }
    @include mq('tablet') {
      width: 600px;
    }
  }
  .formkidsgo{
    @include mq('desktop') {
      width: 50%;
      margin: auto;
    }
  }
}

.kidsgo-modal-body__title-city{
  @include adaptiv-font(30,24);
  font-weight: bold;
  width: 100%;
}

.wrapper-bottom{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  @include mq('tablet') {
justify-content: space-between;
  }
  .wrapper-field-input{
    width: 100%;
    margin-bottom: 0;

    @include mq('tablet') {
      width: 60%;
    }
  }
  .wrformkidsgoBtn-del{
    width: 30%;
    @include mq('tablet') {
      margin-top: 0;
      width: 30%;
    }
  }
}

.bottom-title{
  @include adaptiv-font(20,18);
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
}

.list-address{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 10px 20px;
  padding-right: 10px;

  @include mq('tablet') {
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 10px 20px;
    grid-auto-flow: column;
  }
  li{

    a{
      @include adaptiv-font(16,16);
      color:$color_1b;

    }
  }
}

.list-address-main{
  @include mq('tablet') {
    width: 195px;
  }
  li{
    margin-bottom: 10px;

    a{
      @include adaptiv-font(16,16);
      color:$color_1b;
      font-weight: 700;
    }
  }
}

.kidsgo-modal-dialog.city{

  @include mq('tablet') {
    max-width: 730px;
  }
}

.kidsgo-modal-content.city{
  @include maq('tablet') {
    width: 100%;
  }
  @include mq('tablet') {
    width: 100%;
  }
}

.list-body{
  margin: 25px 0 35px;

  @include mq('tablet') {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
  }
}

.list-skroll{
  max-height: 200px;
  overflow-y: auto;
  @include mq('tablet') {
    max-height: 370px;
  }


  ::-webkit-scrollbar-button {

    background-repeat: no-repeat;
    width: 5px;
    height: 0
  }

  ::-webkit-scrollbar-track {

    background-color: #e7e7e7;
    border-radius: 50px
  }

  ::-webkit-scrollbar-thumb {

    border-radius: 5px;
    background-color: $color_5lb
  }

  ::-webkit-resizer {

    background-repeat: no-repeat;
    width: 5px;
    height: 0
  }

  ::-webkit-scrollbar {
    left: 55px;
    width: 0
  }

  &::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 5px;
    right: 5px;
    height: 0
  }

  &::-webkit-scrollbar-track {
    right: 5px;
    //background-color: #e7e7e7;
    border-radius: 50px
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    right: 5px;
    background-color: $color_5lb
  }

  &::-webkit-resizer {
    right: 5px;
    background-repeat: no-repeat;
    width: 7px;
    height: 0
  }

  &::-webkit-scrollbar {
    right: 5px;
    width: 5px !important
  }
}


