section.sec-404
    .container
        .body-404
            .wrapper-404-content
                .content-404__img
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/404.svg" data-src-small="img/ic/404.svg")
                .content-404__one
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/one-h.png" data-src-small="one-h.png")
                .content-404__title страница не найдена
                .content-404__desr Извините, но такой страницы нет на нашем сайте, проверьте правильность введенного адреса, или перейдите на Главную страницу
                .content-404__btn.button_blue На Главную

            .wrapper-404-img
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/one-h.png" data-src-small="img/one-h.png")

