section.sec-blog
    .container
        .body-blog
            .blog-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее
            .blog-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее
            .blog-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее
            .blog-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее
            .blog-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее
            .blog-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее
            .blog-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее
            .blog-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее
            .blog-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее

        include ./../../pug/pagination