section.sec-blog-iternal
    .container
        .body-blog-iternal
            .row-blog-iternal.grid
                .row-blog-iternal__img
                    .item-imeg.b-lazy(data-src="img/news1.png")
                .row-blog-iternal__text
                    p Супинатор в ортопедической обуви при плоскостопии – важный элемент. При этой патологии большая нагрузка приходится на позвоночник. Супинатор помогает правильно распределить нагрузку и зафиксировать свод стопы в правильном положении. Его делают из кожи, пробки, металла или пластмассы. Эти детали достаточно жесткие, они встречаются в сделанной на заказ специальной обуви.
                    p Большинство родителей считают, что главное в ортопедической детской обуви — это супинатор. Хотя здоровому ребенку с нормально развивающейся стопой супинатор абсолютно не нужен, он только мешает мышцам стопы естественно развиваться.
                    p Супинатор в ортопедической обуви при плоскостопии – важный элемент. При этой патологии большая нагрузка приходится на позвоночник. Супинатор помогает правильно распределить нагрузку и зафиксировать свод стопы в правильном положении. Его делают из кожи, пробки, металла или пластмассы. Эти детали достаточно жесткие, они встречаются в сделанной на заказ специальной обуви.
                    p Большинство родителей считают, что главное в ортопедической детской обуви — это супинатор. Хотя здоровому ребенку с нормально развивающейся стопой супинатор абсолютно не нужен, он только мешает мышцам стопы естественно развиваться.



            .row-blog-iternal
                h2 Функции супинатора
                h3 Функции супинатора
                h4 Функции супинатора
                p Супинатор (от лат. Supino-опрокидываю) - ортопедическое изделие, расположенное в передней, средней или задней части стопы, предназначенное для поддержания продольного свода стопы и равномерного распределения нагрузки при ходьбе. Оно должно индивидуально подбираться врачом при наличии у ребенка деформации стопы.
                ul
                    li Функции супинатора
                    li Функции супинатора
                    li Функции супинатора
                    li Функции супинатора
                br
                br
                h2 Функции супинатора
                p Супинатор в ортопедической обуви при плоскостопии – важный элемент. При этой патологии большая нагрузка приходится на позвоночник. Супинатор помогает правильно распределить нагрузку и зафиксировать свод стопы в правильном положении. Его делают из кожи, пробки, металла или пластмассы. Эти детали достаточно жесткие, они встречаются в сделанной на заказ специальной обуви.
                p Большинство родителей считают, что главное в ортопедической детской обуви — это супинатор. Хотя здоровому ребенку с нормально развивающейся стопой супинатор абсолютно не нужен, он только мешает мышцам стопы естественно развиваться.
                br
                br
                h3 Функции супинатора
                p Супинатор в ортопедической обуви при плоскостопии – важный элемент. При этой патологии большая нагрузка приходится на позвоночник. Супинатор помогает правильно распределить нагрузку и зафиксировать свод стопы в правильном положении. Его делают из кожи, пробки, металла или пластмассы. Эти детали достаточно жесткие, они встречаются в сделанной на заказ специальной обуви.
                p Большинство родителей считают, что главное в ортопедической детской обуви — это супинатор. Хотя здоровому ребенку с нормально развивающейся стопой супинатор абсолютно не нужен, он только мешает мышцам стопы естественно развиваться.
                br
                br
                h4 Функции супинатора
                p Супинатор в ортопедической обуви при плоскостопии – важный элемент. При этой патологии большая нагрузка приходится на позвоночник. Супинатор помогает правильно распределить нагрузку и зафиксировать свод стопы в правильном положении. Его делают из кожи, пробки, металла или пластмассы. Эти детали достаточно жесткие, они встречаются в сделанной на заказ специальной обуви.
                p Большинство родителей считают, что главное в ортопедической детской обуви — это супинатор. Хотя здоровому ребенку с нормально развивающейся стопой супинатор абсолютно не нужен, он только мешает мышцам стопы естественно развиваться.



