section.sec-contacts
    .container
        .body-contacts
            .contacts-descript
                p Интернет-магазин KIDS-GO.ru входит в эксклюзивную сеть магазинов детской обуви в городе Рязань. На сайте нашего интернет-магазина отображается ассортимент реальных магазинов, расположенных непосредственно на территории города Рязани.
                p Таким образом Вы можете узнать наличие детской обуви в наших магазинах не выходя из дома: на этом сайте всегда актуальная информация .

            .select-city
                .wrapper-size
                    .wrapper-input
                        input(type="hidden" value="")
                        .choice-of-size.select-value Рязань

                    .ii-product__selectors-wrp.js_size_selector
                        .wrapper-list
                            .list
                                .list__itams(data-value="1") Рязань
                                .list__itams(data-value="2") Динская
                                .list__itams(data-value="3") Краснодар
                                .list__itams(data-value="4") Новорос
                                .list__itams(data-value="5") Титаровка


            .wrapper-shops-map
                .body-shops
                    .wr-shops
                        .shop-item
                            .header-shop
                                .header-shop__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/shop-ic.svg" data-src-small="img/ic/shop-ic.svg")
                                .header-shop__info
                                    h2 Магазин “Антилопа”
                                    p ул. Вокзальная, 26<span>, Рязань, Рязанская обл., Россия, 390013</span>
                            .bottom-shop
                                .bottom-shop__phone
                                    h3 телефон
                                    a(href="tel:(4912) 92-77-99") (4912) 92-77-99
                                .bottom-shop__info
                                    h3 График работы
                                    p с 9:00 до 20:00
                                    p без выходных





                        .shop-item
                            .header-shop
                                .header-shop__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/shop-ic.svg" data-src-small="img/ic/shop-ic.svg")
                                .header-shop__info
                                    h2 Магазин “Антилопа”
                                    p ул. Вокзальная, 26<span>, Рязань, Рязанская обл., Россия, 390013</span>
                            .bottom-shop
                                .bottom-shop__phone
                                    h3 телефон
                                    a(href="tel:(4912) 92-77-99") (4912) 92-77-99
                                .bottom-shop__info
                                    h3 График работы
                                    p с 9:00 до 20:00
                                    p без выходных





                        .shop-item
                            .header-shop
                                .header-shop__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/shop-ic.svg" data-src-small="img/ic/shop-ic.svg")
                                .header-shop__info
                                    h2 Магазин “Антилопа”
                                    p ул. Вокзальная, 26<span>, Рязань, Рязанская обл., Россия, 390013</span>
                            .bottom-shop
                                .bottom-shop__phone
                                    h3 телефон
                                    a(href="tel:(4912) 92-77-99") (4912) 92-77-99
                                .bottom-shop__info
                                    h3 График работы
                                    p с 9:00 до 20:00
                                    p без выходных





                        .shop-item
                            .header-shop
                                .header-shop__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/shop-ic.svg" data-src-small="img/ic/shop-ic.svg")
                                .header-shop__info
                                    h2 Магазин “Антилопа”
                                    p ул. Вокзальная, 26<span>, Рязань, Рязанская обл., Россия, 390013</span>
                            .bottom-shop
                                .bottom-shop__phone
                                    h3 телефон
                                    a(href="tel:(4912) 92-77-99") (4912) 92-77-99
                                .bottom-shop__info
                                    h3 График работы
                                    p с 9:00 до 20:00
                                    p без выходных





                        .shop-item
                            .header-shop
                                .header-shop__img
                                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/shop-ic.svg" data-src-small="img/ic/shop-ic.svg")
                                .header-shop__info
                                    h2 Магазин “Антилопа”
                                    p ул. Вокзальная, 26<span>, Рязань, Рязанская обл., Россия, 390013</span>
                            .bottom-shop
                                .bottom-shop__phone
                                    h3 телефон
                                    a(href="tel:(4912) 92-77-99") (4912) 92-77-99
                                .bottom-shop__info
                                    h3 График работы
                                    p с 9:00 до 20:00
                                    p без выходных





                .body-map
                    .wrapper-map
                        #map