section.sec-header-size-chart
    .container
        .body-header-s-ch
            .siza-boots__img
                img.siza-boots__item.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/support.svg" data-src-small="img/ic/support.svg")
            .siza-boots__text Чтобы определить свой размер обуви, нужно измерить стопу. Рекомендуют делать это в конце дня, т.к. ноги растаптываются и становятся больше. Встаньте на лист бумаги и обведите ногу карандашом
