section.sec-table-size-chart
    .container
        .body-table-s-ch
            .table-s-ch__item
                .table-s-ch__title Ясельная
                .table-s-ch-body
                    .table-s-ch-name
                        span Длина стопы,см
                    .table-s-ch-name
                        span Размер

                    .table-s-ch-cell
                        span 30
                    .table-s-ch-cell
                        span 31

                    .table-s-ch-cell
                        span 31
                    .table-s-ch-cell
                        span 32

                    .table-s-ch-cell
                        span 32
                    .table-s-ch-cell
                        span 33

                    .table-s-ch-cell
                        span 33
                    .table-s-ch-cell
                        span 34

                    .table-s-ch-cell
                        span 34
                    .table-s-ch-cell
                        span 35

                    .table-s-ch-cell
                        span 35
                    .table-s-ch-cell
                        span 36

                    .table-s-ch-cell
                        span 36
                    .table-s-ch-cell
                        span 37

                    .table-s-ch-cell
                        span 37
                    .table-s-ch-cell
                        span 38
            .table-s-ch__item
                .table-s-ch__title Ясельная
                .table-s-ch-body
                    .table-s-ch-name
                        span Длина стопы,см
                    .table-s-ch-name
                        span Размер

                    .table-s-ch-cell
                        span 30
                    .table-s-ch-cell
                        span 31

                    .table-s-ch-cell
                        span 31
                    .table-s-ch-cell
                        span 32

                    .table-s-ch-cell
                        span 32
                    .table-s-ch-cell
                        span 33

                    .table-s-ch-cell
                        span 33
                    .table-s-ch-cell
                        span 34

                    .table-s-ch-cell
                        span 34
                    .table-s-ch-cell
                        span 35

                    .table-s-ch-cell
                        span 35
                    .table-s-ch-cell
                        span 36

                    .table-s-ch-cell
                        span 36
                    .table-s-ch-cell
                        span 37

                    .table-s-ch-cell
                        span 37
                    .table-s-ch-cell
                        span 38
            .table-s-ch__item
                .table-s-ch__title Ясельная
                .table-s-ch-body
                    .table-s-ch-name
                        span Длина стопы,см
                    .table-s-ch-name
                        span Размер

                    .table-s-ch-cell
                        span 30
                    .table-s-ch-cell
                        span 31

                    .table-s-ch-cell
                        span 31
                    .table-s-ch-cell
                        span 32

                    .table-s-ch-cell
                        span 32
                    .table-s-ch-cell
                        span 33

                    .table-s-ch-cell
                        span 33
                    .table-s-ch-cell
                        span 34

                    .table-s-ch-cell
                        span 34
                    .table-s-ch-cell
                        span 35

                    .table-s-ch-cell
                        span 35
                    .table-s-ch-cell
                        span 36

                    .table-s-ch-cell
                        span 36
                    .table-s-ch-cell
                        span 37

                    .table-s-ch-cell
                        span 37
                    .table-s-ch-cell
                        span 38
            .table-s-ch__item
                .table-s-ch__title Ясельная
                .table-s-ch-body
                    .table-s-ch-name
                        span Длина стопы,см
                    .table-s-ch-name
                        span Размер

                    .table-s-ch-cell
                        span 30
                    .table-s-ch-cell
                        span 31

                    .table-s-ch-cell
                        span 31
                    .table-s-ch-cell
                        span 32

                    .table-s-ch-cell
                        span 32
                    .table-s-ch-cell
                        span 33

                    .table-s-ch-cell
                        span 33
                    .table-s-ch-cell
                        span 34

                    .table-s-ch-cell
                        span 34
                    .table-s-ch-cell
                        span 35

                    .table-s-ch-cell
                        span 35
                    .table-s-ch-cell
                        span 36

                    .table-s-ch-cell
                        span 36
                    .table-s-ch-cell
                        span 37

                    .table-s-ch-cell
                        span 37
                    .table-s-ch-cell
                        span 38