section.bread-crumbs
    .container
        ul.bread-crumbs__list
            li
                a(href="#") Главная /
            li
                a(href="#") Сезонное /
            li
                a(href="#") Зима /
            li Сезонное
