section.footer
    .container
        .body-footer
            .footer-top

                .footer-top__menu
                    .content-desctop
                        ul.footer-top-menu_item
                            li.title Категории
                            li Девочкам
                            li Мальчикам
                            li Сезоннные
                            li Акции
                        ul.footer-top-menu_item
                            li.title Покупателям
                            li О компании
                            li Контакты
                            li Размерная сетка
                            li Блог
                        ul.footer-top-menu_item
                            li.title Сервис
                            li Гарантия и возврат
                            li Доставка и оплата

                    .content-mobile
                        ul.menu
                            li.link-menu
                                .second-menu Категории
                                ul
                                    li
                                        a(href="#") Девочкам
                                    li
                                        a(href="#") Мальчикам
                                    li
                                        a(href="#") Сезоннные
                                    li
                                        a(href="#") Акции

                            li.link-menu
                                .second-menu Покупателям
                                ul
                                    li
                                        a(href="#") О компании
                                    li
                                        a(href="#") Контакты
                                    li
                                        a(href="#") Размерная сетка
                                    li
                                        a(href="#") Блог
                            li.link-menu
                                .second-menu Сервис
                                ul
                                    li
                                        a(href="#") Гарантия и возврат
                                    li
                                        a(href="#") Доставка и оплата



                .footer-top__soc
                    .wrapper-soc-menu__title Мы в социальных сетях:
                    a(href="#").soc-link
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5042 0.520676C6.19687 0.520676 4.99062 0.356092 3.41354 1.14255C1.96146 1.86547 0.91875 3.23318 0.654166 5.06547C0.572916 5.62484 0.55 5.73943 0.544791 8.60192C0.523958 19.1863 0.384375 19.9769 1.14479 21.554C1.77708 22.8696 2.98542 23.8582 4.40937 24.2269C5.54792 24.5207 6.30521 24.479 12.4792 24.479C17.6542 24.479 19.2635 24.5717 20.6062 24.2248C22.0385 23.854 23.225 22.8811 23.8708 21.5467C24.6375 19.9613 24.4573 18.8405 24.4573 12.4925C24.4573 6.41338 24.6625 5.06026 23.8583 3.42068C23.5833 2.8613 23.2781 2.44255 22.8354 2.01547C21.0354 0.29255 18.8917 0.525884 16.3969 0.520676H12.5042Z" fill="url(#paint0_linear)"/>
                        <path d="M12.5 18.2678C9.3198 18.2678 6.7323 15.6803 6.7323 12.5001C6.7323 9.31992 9.3198 6.73242 12.5 6.73242C15.6802 6.73242 18.2677 9.31992 18.2677 12.5001C18.2677 15.6803 15.6802 18.2678 12.5 18.2678Z" fill="white"/>
                        <path d="M19.124 6.78555C18.6229 6.78555 18.2146 6.37825 18.2146 5.87617C18.2146 5.37409 18.6219 4.9668 19.124 4.9668C19.6261 4.9668 20.0333 5.37409 20.0333 5.87617C20.0333 6.37825 19.625 6.78555 19.124 6.78555Z" fill="white"/>
                        <path d="M4.94792 25H20.0521C22.7802 25 25 22.7802 25 20.0521V4.94792C25 2.21979 22.7802 0 20.0521 0H4.94792C2.21979 0 0 2.21979 0 4.94792V20.0521C0 22.7802 2.21979 25 4.94792 25ZM1.5625 4.94792C1.5625 3.08125 3.08125 1.5625 4.94792 1.5625H20.0521C21.9187 1.5625 23.4375 3.08125 23.4375 4.94792V20.0521C23.4375 21.9187 21.9187 23.4375 20.0521 23.4375H4.94792C3.08125 23.4375 1.5625 21.9187 1.5625 20.0521V4.94792Z" fill="black"/>
                        <path d="M12.4999 18.8856C16.0208 18.8856 18.8853 16.021 18.8853 12.5002C18.8853 8.97933 16.0208 6.11475 12.4999 6.11475C8.97909 6.11475 6.1145 8.97933 6.1145 12.5002C6.1145 16.021 8.97909 18.8856 12.4999 18.8856ZM12.4999 7.67725C15.1593 7.67725 17.3228 9.84079 17.3228 12.5002C17.3228 15.1595 15.1593 17.3231 12.4999 17.3231C9.84054 17.3231 7.677 15.1595 7.677 12.5002C7.677 9.84079 9.84054 7.67725 12.4999 7.67725Z" fill="black"/>
                        <path d="M19.1229 7.66891C20.15 7.66891 20.9239 6.89808 20.9239 5.8762C20.9239 4.81058 20.1093 4.0835 19.1239 4.0835C18.0968 4.0835 17.3229 4.85433 17.3229 5.8762C17.3229 6.93974 18.1333 7.66891 19.1229 7.66891ZM19.3072 5.70433C19.6364 5.99495 18.8854 6.34808 18.8854 5.87725C18.8854 5.596 19.2677 5.66891 19.3072 5.70433Z" fill="black"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="2.09188" y1="22.9082" x2="24.3067" y2="3.67909" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFDD55"/>
                        <stop offset="0.5" stop-color="#FF543E"/>
                        <stop offset="1" stop-color="#C837AB"/>
                        </linearGradient>
                        </defs>
                        </svg>
                    a(href="#").soc-link
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.4812 16.2388C24.0162 15.6488 24.15 15.385 24.4812 14.8575C24.4875 14.8512 28.3237 9.51625 28.7188 7.7075L28.7212 7.70625C28.9187 7.0475 28.7212 6.5625 27.7712 6.5625H24.6275C23.8275 6.5625 23.4587 6.97875 23.2612 7.44375C23.2612 7.44375 21.66 11.2988 19.3962 13.7975C18.665 14.52 18.3288 14.7512 17.9288 14.7512C17.7313 14.7512 17.4263 14.52 17.4263 13.86C17.24 7.785 17.93 6.5625 16.54 6.5625H11.5988C11.0963 6.5625 10.7987 6.93125 10.7987 7.275C10.7987 8.02375 11.93 8.1975 12.0475 10.3062V14.8837C12.0475 18.5925 8.12625 13.1275 6.26625 7.77125C5.9575 6.91125 5.65375 6.56375 4.8475 6.56375H1.70375C0.80625 6.56375 0.625 6.98 0.625 7.445C0.625 8.2675 1.6925 12.3537 5.59375 17.7537C8.19375 21.44 11.8538 23.4375 15.185 23.4375C17.1862 23.4375 17.4312 22.9937 17.4312 22.23C17.4312 18.7075 17.25 18.375 18.2537 18.375C18.7188 18.375 19.5188 18.6062 21.3875 20.3837C23.5225 22.4925 23.8737 23.4363 25.07 23.4363H28.2137C29.11 23.4363 29.5637 22.9925 29.3025 22.1175C28.7037 20.2788 24.6637 16.4925 24.4812 16.2388Z" fill="#4B729F"/>
                        <path d="M15.1813 24.375C19.5212 24.375 17.9738 21.6275 18.3088 20.8375C18.3038 20.2475 18.2987 19.68 18.3188 19.335C18.5938 19.4125 19.2425 19.7412 20.5825 21.0437C22.6512 23.1312 23.18 24.375 24.8512 24.375H27.9275C28.9025 24.375 29.41 23.9713 29.6638 23.6325C29.9088 23.305 30.1488 22.73 29.8862 21.835C29.2 19.68 25.1975 15.9587 24.9487 15.5662C24.9862 15.4937 25.0462 15.3975 25.0775 15.3475H25.075C25.865 14.3038 28.88 9.78625 29.3237 7.97875C29.325 7.97625 29.3263 7.9725 29.3263 7.96875C29.5662 7.14375 29.3463 6.60875 29.1187 6.30625C28.7763 5.85375 28.2313 5.625 27.495 5.625H24.4188C23.3888 5.625 22.6075 6.14375 22.2125 7.09C21.5513 8.77125 19.6938 12.2288 18.3013 13.4525C18.2587 11.7188 18.2875 10.395 18.31 9.41125C18.355 7.4925 18.5 5.625 16.5087 5.625H11.6737C10.4262 5.625 9.2325 6.9875 10.525 8.605C11.655 10.0225 10.9312 10.8125 11.175 14.745C10.225 13.7262 8.535 10.975 7.34 7.45875C7.005 6.5075 6.4975 5.62625 5.06875 5.62625H1.9925C0.745 5.62625 0 6.30625 0 7.445C0 10.0025 5.66125 24.375 15.1813 24.375ZM5.06875 7.50125C5.34 7.50125 5.3675 7.50125 5.56875 8.0725C6.7925 11.6762 9.5375 17.0088 11.5425 17.0088C13.0487 17.0088 13.0487 15.465 13.0487 14.8837L13.0475 10.2562C12.965 8.725 12.4075 7.9625 12.0413 7.5L16.4263 7.505C16.4287 7.52625 16.4013 12.6237 16.4387 13.8587C16.4387 15.6125 17.8312 16.6175 20.005 14.4175C22.2987 11.8288 23.885 7.95875 23.9487 7.80125C24.0425 7.57625 24.1238 7.5 24.4188 7.5H27.495H27.5075C27.5063 7.50375 27.5063 7.5075 27.505 7.51125C27.2237 8.82375 24.4475 13.0063 23.5188 14.305C23.5037 14.325 23.49 14.3463 23.4762 14.3675C23.0675 15.035 22.735 15.7725 23.5325 16.81H23.5337C23.6062 16.8975 23.795 17.1025 24.07 17.3875C24.925 18.27 27.8575 21.2875 28.1175 22.4875C27.945 22.515 27.7575 22.495 24.8512 22.5012C24.2325 22.5012 23.7487 21.5763 21.9025 19.7137C20.2425 18.0988 19.165 17.4388 18.1838 17.4388C16.2787 17.4388 16.4175 18.985 16.435 20.855C16.4412 22.8825 16.4288 22.2413 16.4425 22.3688C16.3313 22.4125 16.0125 22.5 15.1813 22.5C7.25 22.5 2.085 9.91125 1.88625 7.505C1.955 7.49875 2.90125 7.5025 5.06875 7.50125Z" fill="black"/>
                        <clipPath id="clip0">
                        <rect width="30" height="30" fill="white"/>
                        </clipPath>
                        </svg>

                .footer-top__ifo.DESCKTOP
                    a(href="#").footer-logo
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/logo.svg" data-src-small="img/ic/logo.svg")

                    a.header-link(href="tel:8(4912)51-23-22") 8(4912)51-23-22
                    a.header-link(href="tel:8(4912)51-23-22") 8(4912)51-23-22
                    a.header-link(href="mailto:info@Kids-go.ru") info@Kids-go.ru




            .footer-middle
                .footer-middle__text Узнай первым о распродажах, акциях и получай специальные промокоды на скидку!
                form.footer-middle__form
                    .wr-bt-inp
                        input.footer-form__input(placeholder="E-mail")
                        .footer-form__btn.button_blue Отправить
                    .I-agree Я согласен на обработку персональных данных
                    .footer-form__btn-mobile.button_blue Отправить



            .footer-bottom
                .footer-top__ifo.MOBILE
                    a(href="#").footer-logo
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/logo.svg" data-src-small="img/ic/logo.svg")

                    a.header-link(href="tel:8(4912)51-23-22") 8(4912)51-23-22
                    a.header-link(href="tel:8(4912)51-23-22") 8(4912)51-23-22
                    a.header-link(href="mailto:info@Kids-go.ru") info@Kids-go.ru
                .footer-bottom__ip ИП Куданов Руслан Куданович <br> ОГРН 304622913800043
                .footer-bottom__politica
                    a(href="#") Политика конфиденциальности
                .footer-bottom__labsales
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/Labsales.svg" data-src-small="img/ic/Labsales.svg")



















