button.btn.btn-primary(type="button" data-toggle="modal" data-target="#kidsgo-modal") Запустить модальное окно
button.btn.btn-primary(type="button" data-toggle="modal" data-target="#basket-del") del
button.btn.btn-primary(type="button" data-toggle="modal" data-target="#numder-modal") колличество товара
button.btn.btn-primary(type="button" data-toggle="modal" data-target="#city_1") город1
button.btn.btn-primary(type="button" data-toggle="modal" data-target="#city_2") город2
button.btn.btn-primary(type="button" data-toggle="modal" data-target="#one_click") 1 clock
button.btn.btn-primary(type="button" data-toggle="modal" data-target="#comment") comment


.modal.kidsgo-modal-del.basket-modal.fade#basket-del
    .modal-dialog.kidsgo-modal-dialog
        .modal-content.kidsgo-modal-content
            .modal-body.kidsgo-modal-body
                .kidsgo-modal-body__title-del Точно удалить?
                form.formkidsgo
                    .wrformkidsgoBtn-del
                        .form-btn-yes.del-btn  ДА
                        .form-btn-no.del-btn Нет

.modal.kidsgo-modal-number.basket-modal.fade#numder-modal
    .modal-dialog.kidsgo-modal-dialog
        .modal-content.kidsgo-modal-content
            button.close.Closekidsgo(type="button" data-dismiss="modal" aria-label="Close")
                img(src="img/ic/close.svg")
            .modal-body.kidsgo-modal-body
                .kidsgo-modal-body__title-number Выберите количество
                form.formkidsgo
                    ul.wrformkidsgoList-number
                        li 1
                        li 2
                        li 3
                        li 4
                        li 5

.modal.kidsgo-modal-del.city-modal.fade#city_1
    .modal-dialog.kidsgo-modal-dialog
        .modal-content.kidsgo-modal-content
            button.close.Closekidsgo(type="button" data-dismiss="modal" aria-label="Close")
                img(src="img/ic/close.svg")
            .modal-body.kidsgo-modal-body
                .kidsgo-modal-body__title-del Ваш город Рязань?
                form.formkidsgo
                    .wrformkidsgoBtn-del
                        .form-btn-yes.del-btn  ДА
                        .form-btn-no.del-btn Нет

.modal.kidsgo-modal-del.city-modal.fade#city_2
    .modal-dialog.kidsgo-modal-dialog.city
        .modal-content.kidsgo-modal-content.city
            button.close.Closekidsgo(type="button" data-dismiss="modal" aria-label="Close")
                img(src="img/ic/close.svg")
            .modal-body.kidsgo-modal-body
                .kidsgo-modal-body__title-city Выберите свой город
                form.formkidsgo-city-fl
                    .list-body
                        ul.list-address-main
                            li
                                a(href="#") Москва и Московская область
                            li
                                a(href="#") Москва и Московская область
                            li
                                a(href="#") Москва и Московская область
                            li
                                a(href="#") Москва и Московская область
                            li
                                a(href="#") Москва и Московская область
                            li
                                a(href="#") Москва и Московская область
                            li
                                a(href="#") Москва и Московская область
                            li
                                a(href="#") Москва и Московская область
                        .list-skroll
                            ul.list-address
                                li
                                    a(href="#") Aосква и Московская область
                                li
                                    a(href="#") Aосква и Московская область
                                li
                                    a(href="#") Aосква и Московская область
                                li
                                    a(href="#") Aосква и Московская область
                                li
                                    a(href="#") Aосква и Московская область
                                li
                                    a(href="#") Aосква и Московская область
                                li
                                    a(href="#") Aосква и Московская область
                                li
                                    a(href="#") Aосква и Московская область
                                li
                                    a(href="#") Aосква и Московская область
                                li
                                    a(href="#") Босква и Московская область
                                li
                                    a(href="#") Босква и Московская область
                                li
                                    a(href="#") Босква и Московская область
                                li
                                    a(href="#") Босква и Московская область
                                li
                                    a(href="#") Босква и Московская область
                                li
                                    a(href="#") Босква и Московская область
                                li
                                    a(href="#") Восква и Московская область
                                li
                                    a(href="#") Восква и Московская область
                                li
                                    a(href="#") Восква и Московская область
                                li
                                    a(href="#") Восква и Московская область
                                li
                                    a(href="#") Восква и Московская область
                                li
                                    a(href="#") Восква и Московская область
                                li
                                    a(href="#") Восква и Московская область
                                li
                                    a(href="#") Восква и Московская область
                                li
                                    a(href="#") Восква и Московская область
                                li
                                    a(href="#") Госква и Московская область
                                li
                                    a(href="#") Госква и Московская область
                                li
                                    a(href="#") Госква и Московская область
                                li
                                    a(href="#") Госква и Московская область
                                li
                                    a(href="#") Госква и Московская область
                                li
                                    a(href="#") Госква и Московская область
                                li
                                    a(href="#") Досква и Московская область
                                li
                                    a(href="#") Досква и Московская область


                    .wrapper-bottom
                        .bottom-title Или найдите и выберите свой город
                        input#register3.wrapper-field-input
                        .wrformkidsgoBtn-del
                            .form-btn-yes.del-btn  Выбрать

.modal.kidsgo-modal-one_click.fade#one_click
    .modal-dialog.kidsgo-modal-dialog
        .modal-content.kidsgo-modal-content
            button.close.Closekidsgo(type="button" data-dismiss="modal" aria-label="Close")
                img(src="img/ic/close.svg")
            .modal-body.kidsgo-modal-body
                .title-one-click Купить в 1 клик
                form.form-one-click
                    .wrapper-input-form
                        .body-inpyt-animation
                            input#order1.wrapper-field-input
                            label.input__label(for="order1")
                                span.span-field-input ФИО
                        .body-inpyt-animation
                            input#order2.wrapper-field-input
                            label.input__label(for="order2")
                                span.span-field-input Телефон*
                        .body-inpyt-animation
                            input#order3.wrapper-field-input
                            label.input__label(for="order3")
                                span.span-field-input Почта*

                    .bottom-text
                        .price-num-name Стоимость без учета доставки
                        .price-num 6 699р
                        .checkbox-save
                            input#categories_1(type="checkbox" name="categories" value="Запомнить меня").input-save
                            label(for="categories_1").label-save Я согласен на обработку персональных данных
                        .btn-form-one-click.button_blue Отправить

.modal.kidsgo-modal-one_click.fade#comment
    .modal-dialog.kidsgo-modal-dialog
        .modal-content.kidsgo-modal-content
            button.close.Closekidsgo(type="button" data-dismiss="modal" aria-label="Close")
                img(src="img/ic/close.svg")
            .modal-body.kidsgo-modal-body
                .title-one-click Оставить отзыв
                form.form-one-click
                    .wrapper-input-form
                        .star-reviews
                            .star-reviews__title Оцените товар
                            .reviews-item__rating-stars
                                .simple-rating
                                    .simple-rating__items
                                        input(type="radio" value="5" name="star1").form__item__input#form__item__input-50
                                        label(for="form__item__input-50").form__item__label
                                        input(type="radio" value="4" name="star1").form__item__input#form__item__input-40
                                        label(for="form__item__input-40").form__item__label
                                        input(type="radio" value="3" name="star1").form__item__input#form__item__input-30
                                        label(for="form__item__input-30").form__item__label
                                        input(type="radio" value="2" name="star1").form__item__input#form__item__input-20
                                        label(for="form__item__input-20").form__item__label
                                        input(type="radio" value="1" name="star1").form__item__input#form__item__input-10
                                        label(for="form__item__input-10").form__item__label

                        .body-inpyt-animation.long
                            textarea#order9.wrapper-field-input.textarea(rows="1")
                            label.input__label(for="order9")
                                span.span-field-input Комментарий

                    .bottom-text
                        .btn-form-one-click.button_blue Отправить





section.sec-cooky
    .body-cooky
        .btn-close
            img(src="img/ic/close.svg")
        .wrapper-content
            .cooky-img
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/cooky.png" data-src-small="img/ic/cooky.png")
            .cooky-text Этот сайт использует cookie и что-то про сбор информации, надеюсь все согласны.