form.form-star
    .form__item
        .simple-rating
            .simple-rating__items
                input(type="radio" value="5" name="star").form__item__input#form__item__input-5
                label(for="form__item__input-5").form__item__label
                input(type="radio" value="4" name="star").form__item__input#form__item__input-4
                label(for="form__item__input-4").form__item__label
                input(type="radio" value="3" name="star").form__item__input#form__item__input-3
                label(for="form__item__input-3").form__item__label
                input(type="radio" value="2" name="star").form__item__input#form__item__input-2
                label(for="form__item__input-2").form__item__label
                input(type="radio" value="1" name="star").form__item__input#form__item__input-1
                label(for="form__item__input-1").form__item__label



//form.form-star
//    .form__item
//        .rating
//            .rating-body
//                .rating__active
//                .rating__items
//                    input(type="radio" value="1" name="star").form__item__input
//
//                    input(type="radio" value="2" name="star").form__item__input
//
//                    input(type="radio" value="3" name="star").form__item__input
//
//                    input(type="radio" value="4" name="star").form__item__input
//
//                    input(type="radio" value="5" name="star").form__item__input
//
//            .rating__value 3.5

