section.basket-card
    .container
        .basket-card-body
            .basket-card-body-left
                .basket-card__item
                    .basket-card-item__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/mod11.png" data-src-small="img/mod11.png")
                    .basket-card-item__text
                        .basket-card-item__description Kapika, Росиия
                        .basket-card-item__title Сапоги для мальчиков.
                        .basket-card-item__model Модель: 590к-2
                        .basket-card-item__color-size цвет черный, размер 33
                        .basket-card-item__priceNew 2 410 ₽
                        .basket-card-item__priceOld 2 410 ₽
                        .basket-card-item__footer.basket-card-item__footer-deck
                            .basket-card-item__favorites
                                .popular-products__favorites
                                    img(src="img/ic/favorites.svg").ic-favorites
                                    img(src="img/ic/favorites-active.svg").ic-favorites-active
                                .basket-card-item__ic-subtext В избранном

                            .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                                .basket-card-item__ic
                                    img(src="img/ic/delete.svg")
                                .basket-card-item__ic-subtext Удалить
                            .basket-card-item__quantity
                                .card-info__quantity
                                    .card-info__minus
                                    input.card-info__number(value=1)
                                    .card-info__plus


                    .basket-card-item__footer.basket-card-item__footer-mob
                        .basket-card-item__favorites
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            .basket-card-item__ic-subtext В избранном

                        .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                            .basket-card-item__ic
                                img(src="img/ic/delete.svg")
                            .basket-card-item__ic-subtext Удалить
                        .basket-card-item__quantity(data-toggle="modal" data-target="#numder-modal")
                            .basket-card-item__quantity-itm 1 шт.



                .basket-card__item
                    .basket-card-item__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/mod11.png" data-src-small="img/mod11.png")
                    .basket-card-item__text
                        .basket-card-item__description Kapika, Росиия
                        .basket-card-item__title Сапоги для мальчиков.
                        .basket-card-item__model Модель: 590к-2
                        .basket-card-item__color-size цвет черный, размер 33
                        .basket-card-item__priceNew 2 410 ₽
                        .basket-card-item__priceOld 2 410 ₽
                        .basket-card-item__footer.basket-card-item__footer-deck
                            .basket-card-item__favorites
                                .popular-products__favorites
                                    img(src="img/ic/favorites.svg").ic-favorites
                                    img(src="img/ic/favorites-active.svg").ic-favorites-active
                                .basket-card-item__ic-subtext В избранном

                            .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                                .basket-card-item__ic
                                    img(src="img/ic/delete.svg")
                                .basket-card-item__ic-subtext Удалить
                            .basket-card-item__quantity
                                .card-info__quantity
                                    .card-info__minus
                                    input.card-info__number(value=1)
                                    .card-info__plus


                    .basket-card-item__footer.basket-card-item__footer-mob
                        .basket-card-item__favorites
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            .basket-card-item__ic-subtext В избранном

                        .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                            .basket-card-item__ic
                                img(src="img/ic/delete.svg")
                            .basket-card-item__ic-subtext Удалить
                        .basket-card-item__quantity(data-toggle="modal" data-target="#numder-modal")
                            .basket-card-item__quantity-itm 1 шт.



                .basket-card__item
                    .basket-card-item__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/mod11.png" data-src-small="img/mod11.png")
                    .basket-card-item__text
                        .basket-card-item__description Kapika, Росиия
                        .basket-card-item__title Сапоги для мальчиков.
                        .basket-card-item__model Модель: 590к-2
                        .basket-card-item__color-size цвет черный, размер 33
                        .basket-card-item__priceNew 2 410 ₽
                        .basket-card-item__priceOld 2 410 ₽
                        .basket-card-item__footer.basket-card-item__footer-deck
                            .basket-card-item__favorites
                                .popular-products__favorites
                                    img(src="img/ic/favorites.svg").ic-favorites
                                    img(src="img/ic/favorites-active.svg").ic-favorites-active
                                .basket-card-item__ic-subtext В избранном

                            .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                                .basket-card-item__ic
                                    img(src="img/ic/delete.svg")
                                .basket-card-item__ic-subtext Удалить
                            .basket-card-item__quantity
                                .card-info__quantity
                                    .card-info__minus
                                    input.card-info__number(value=1)
                                    .card-info__plus


                    .basket-card-item__footer.basket-card-item__footer-mob
                        .basket-card-item__favorites
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            .basket-card-item__ic-subtext В избранном

                        .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                            .basket-card-item__ic
                                img(src="img/ic/delete.svg")
                            .basket-card-item__ic-subtext Удалить
                        .basket-card-item__quantity(data-toggle="modal" data-target="#numder-modal")
                            .basket-card-item__quantity-itm 1 шт.



                .basket-card__item
                    .basket-card-item__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/mod11.png" data-src-small="img/mod11.png")
                    .basket-card-item__text
                        .basket-card-item__description Kapika, Росиия
                        .basket-card-item__title Сапоги для мальчиков.
                        .basket-card-item__model Модель: 590к-2
                        .basket-card-item__color-size цвет черный, размер 33
                        .basket-card-item__priceNew 2 410 ₽
                        .basket-card-item__priceOld 2 410 ₽
                        .basket-card-item__footer.basket-card-item__footer-deck
                            .basket-card-item__favorites
                                .popular-products__favorites
                                    img(src="img/ic/favorites.svg").ic-favorites
                                    img(src="img/ic/favorites-active.svg").ic-favorites-active
                                .basket-card-item__ic-subtext В избранном

                            .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                                .basket-card-item__ic
                                    img(src="img/ic/delete.svg")
                                .basket-card-item__ic-subtext Удалить
                            .basket-card-item__quantity
                                .card-info__quantity
                                    .card-info__minus
                                    input.card-info__number(value=1)
                                    .card-info__plus


                    .basket-card-item__footer.basket-card-item__footer-mob
                        .basket-card-item__favorites
                            .popular-products__favorites
                                img(src="img/ic/favorites.svg").ic-favorites
                                img(src="img/ic/favorites-active.svg").ic-favorites-active
                            .basket-card-item__ic-subtext В избранном

                        .basket-card-item__del(data-toggle="modal" data-target="#basket-del")
                            .basket-card-item__ic
                                img(src="img/ic/delete.svg")
                            .basket-card-item__ic-subtext Удалить
                        .basket-card-item__quantity(data-toggle="modal" data-target="#numder-modal")
                            .basket-card-item__quantity-itm 1 шт.



            .basket-card-body-right
                .wraper-sticky
                    .basket-card-body-right__item
                        .basket-card-body-right__title Ваш заказ
                        .line-result
                            .line-result__left Товаров на сумму
                            .line-result__right 10 500р
                        .line-result
                            .line-result__left Ваша скидка
                            .line-result__right.line-result__right-red -4 000р
                        .line-result.line-result-bold
                            .line-result__left Итого
                            .line-result__right 4 000р
                        .line-result
                            .line-result-btn.button_blue Оформить заказ
                        .line-result
                            p Обратите внимание, что указанная сумма не включает доставку. Стоимость доставки вы можете узнать при оформлении заказа на следующем этапе.

                    .basket-card-body-right__item-promo
                        input.promocod(placeholder="Промокод")



