.sec-contacts {
padding: 0 0 50px;
  @include mq('tablet') {
    padding: 0 0 120px;
  }
}

.body-contacts {

}

.contacts-descript {
  @include adaptiv-margin-bottom(70,40);

  p {
    @include adaptiv-font(18,16);
    font-weight: 600;
  }
}

.select-city {
  width: 100%;
  @include adaptiv-margin-bottom(60,30);
  @include mq('tablet') {
    width: fit-content;
  }
  color: $color_3b;

  .wrapper-list{
    left: 0;
  }
}

.wrapper-shops-map {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.body-shops {
width: 100%;
  @include maq('tablet') {
    order: 2;
  }
  @include mq('tablet') {
    width: 50%;
    max-height: 620px;
    padding-right: 20px;
  }
  @include mq('tablet-wide') {
    width: 40%;
  }
  @include mq('desktop') {
    width: 30%;
  }
}

.wr-shops {
  height: 100%;
  overflow-y: auto;

  ::-webkit-scrollbar-button {

    background-repeat: no-repeat;
    width: 5px;
    height: 0
  }

  ::-webkit-scrollbar-track {

    background-color: #e7e7e7;
    border-radius: 50px
  }

  ::-webkit-scrollbar-thumb {

    border-radius: 5px;
    background-color: $color_5lb
  }

  ::-webkit-resizer {

    background-repeat: no-repeat;
    width: 5px;
    height: 0
  }

  ::-webkit-scrollbar {
    left: 55px;
    width: 0
  }

  &::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 5px;
    right: 5px;
    height: 0
  }

  &::-webkit-scrollbar-track {
    right: 5px;
    //background-color: #e7e7e7;
    border-radius: 50px
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    right: 5px;
    background-color: $color_5lb
  }

  &::-webkit-resizer {
    right: 5px;
    background-repeat: no-repeat;
    width: 7px;
    height: 0
  }

  &::-webkit-scrollbar {
    right: 5px;
    width: 5px !important
  }
}

.shop-item {
  padding: 20px 0;
  border-bottom: 1px solid $color_6g;
}

.header-shop {
  display: flex;
  width: 100%;
}

.header-shop__img {
  width: 30%;

  img {
    max-width: 100%;
  }
}

.header-shop__info {

  width: 70%;

  p {
    margin: 0;
    padding: 0;
    @include adaptiv-font(18, 16);
    font-weight: 600;
  }

  h2 {
    @include adaptiv-font(20, 18);
    font-weight: 800;
  }
}

.bottom-shop {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.bottom-shop__phone,
.bottom-shop__info {
  width: 50%;

  p {
    margin: 0;
    padding: 0;
    @include adaptiv-font(16, 14);
    font-weight: 600;
  }

  h3 {
    @include adaptiv-font(18, 16);
    font-weight: bold;
  }

  a {
    color: $color_1b;
    @include adaptiv-font(16, 14);

    &:hover {
      color: $color_1b;
    }
  }
}

.body-map {
  min-height: 230px;
  width: 100%;
  @include maq('tablet') {
    order: 1;
  }
  @include mq('tablet') {
    width: 50%;
  }
  @include mq('tablet-wide') {
    width: 60%;
  }
  @include mq('desktop') {
    width: 70%;
  }
}

