section.sec-about-us
    .container
        .body-about-us
            .about-us-big-img.b-lazy(data-src="img/about.png")
            .row-text-logo
                .row-text-logo__img
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/logo.svg" data-src-small="img/ic/logo.svg")

                .row-text-logo__text
                    p Интернет-магазин KIDS-GO.ru входит в эксклюзивную сеть магазинов детской обуви в городе Рязань. На сайте нашего интернет-магазина отображается ассортимент реальных магазинов, расположенных непосредственно на территории города Рязани.
                    p Таким образом, Вы можете узнать о наличии понравившихся моделей в наших розничных магазинах, не выходя из дома. А затем, Вы можете оформить заказ с доставкой или указать удобный для посещения адрес нашего магазина, выбрав «Самовывоз»

            .row-text-pictyre
                .row-text-logo__img
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/baby.png" data-src-small="img/baby.png")
                .row-text-logo__text
                    h3 Брендовая детская обувь- более 2 500 моделей в Рязани:

                    ul
                        li  стильная обувь для детей и подростков
                        li всегда большой выбор
                        li постоянно обновляемый ассортимент
                        li известные мировые бренды
                        li качество и гарантии от производителя
                        li коллекция «Первый шаг» – только с учетом физиологических параметров стоп малышей
                        li постоянные скидки и акции
                        li отправим несколько размеров на выбор
                        li посоветуем и поможем правильно определить нужный размер
            .row-text-number
                .row-text-number__title Показатели в цифрах
                .wrapper-number
                    .wrapper-number__column
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/10000.svg" data-src-small="img/10000.svg")
                    .wrapper-number__column
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/15.svg" data-src-small="img/15.svg")
                    .wrapper-number__column
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/30.svg" data-src-small="img/30.svg")

