section.sec-favorites
    .container
        .body-favorites.body-popular-products
            .popular-products__items
                .wrapper-products__items
                    .popular-products__favorites
                        img(src="img/ic/favorites.svg").ic-favorites
                        img(src="img/ic/favorites-active.svg").ic-favorites-active
                    a(href="#")
                        .popular-products__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                        .popular-products__subtitle Девочкам / 6-12 лет
                        .popular-products__name Сапоги для девочки. Модель 44230-2
                    .popular-products__size
                        .popular-products-size__item.popular-products-size__item-active 31
                        .popular-products-size__item 32
                        .popular-products-size__item 33
                        .popular-products-size__item 34
                        .popular-products-size__item 35
                    .popular-products__price 3 650 р <span>5 800р</span>
                    .popular-products__btn.button_blue Добавить в корзину
            .popular-products__items
                .wrapper-products__items
                    .popular-products__sale
                        img(src="img/ic/sale-20.svg")
                    .popular-products__favorites
                        img(src="img/ic/favorites.svg").ic-favorites
                        img(src="img/ic/favorites-active.svg").ic-favorites-active
                    a(href="#")
                        .popular-products__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots2.png" data-src-small="img/boots2.png")
                        .popular-products__subtitle Девочкам / 6-12 лет
                        .popular-products__name Сапоги для девочки. Модель 44230-2 Модель 44230-2 Модель 44230-2
                    .popular-products__size
                        .popular-products-size__item.popular-products-size__item-active 31
                        .popular-products-size__item 32
                        .popular-products-size__item 33
                        .popular-products-size__item 34
                        .popular-products-size__item 35
                    .popular-products__price 3 650 р <span>5 800р</span>
                    .popular-products__btn.button_blue Добавить в корзину
            .popular-products__items
                .wrapper-products__items
                    //.popular-products__sale
                        img(src="img/ic/sale-20.svg")
                    .popular-products__favorites
                        img(src="img/ic/favorites.svg").ic-favorites
                        img(src="img/ic/favorites-active.svg").ic-favorites-active
                    a(href="#")
                        .popular-products__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots3.png" data-src-small="img/boots3.png")
                        .popular-products__subtitle Девочкам / 6-12 лет
                        .popular-products__name Сапоги для девочки. Модель 44230-2
                    .popular-products__size
                        .popular-products-size__item.popular-products-size__item-active 31
                        .popular-products-size__item 32
                        .popular-products-size__item 33
                        .popular-products-size__item 34
                        .popular-products-size__item 35
                    .popular-products__price 3 650 р <span>5 800р</span>
                    .popular-products__btn.button_blue Добавить в корзину
            .popular-products__items
                .wrapper-products__items
                    .popular-products__sale
                        img(src="img/ic/sale-20.svg")
                    .popular-products__favorites
                        img(src="img/ic/favorites.svg").ic-favorites
                        img(src="img/ic/favorites-active.svg").ic-favorites-active
                    a(href="#")
                        .popular-products__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots4.png" data-src-small="img/boots4.png")
                        .popular-products__subtitle Девочкам / 6-12 лет
                        .popular-products__name Сапоги для девочки.
                    .popular-products__size
                        .popular-products-size__item.popular-products-size__item-active 31
                        .popular-products-size__item 32
                        .popular-products-size__item 33
                        .popular-products-size__item 34
                        .popular-products-size__item 35
                    .popular-products__price 3 650 р <span>5 800р</span>
                    .popular-products__btn.button_blue Добавить в корзину
            .popular-products__items
                .wrapper-products__items
                    .popular-products__sale
                        img(src="img/ic/sale-20.svg")
                    .popular-products__favorites
                        img(src="img/ic/favorites.svg").ic-favorites
                        img(src="img/ic/favorites-active.svg").ic-favorites-active
                    a(href="#")
                        .popular-products__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots5.png" data-src-small="img/boots5.png")
                        .popular-products__subtitle Девочкам / 6-12 лет
                        .popular-products__name Сапоги для девочки. Модель 44230-2
                    .popular-products__size
                        .popular-products-size__item.popular-products-size__item-active 31
                        .popular-products-size__item 32
                        .popular-products-size__item 33
                        .popular-products-size__item 34
                        .popular-products-size__item 35
                    .popular-products__price 3 650 р <span>5 800р</span>
                    .popular-products__btn.button_blue Добавить в корзину
            .popular-products__items
                .wrapper-products__items
                    .popular-products__favorites
                        img(src="img/ic/favorites.svg").ic-favorites
                        img(src="img/ic/favorites-active.svg").ic-favorites-active
                    a(href="#")
                        .popular-products__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots1.png" data-src-small="img/boots1.png")
                        .popular-products__subtitle Девочкам / 6-12 лет
                        .popular-products__name Сапоги для девочки. Модель 44230-2
                    .popular-products__size
                        .popular-products-size__item.popular-products-size__item-active 31
                        .popular-products-size__item 32
                        .popular-products-size__item 33
                        .popular-products-size__item 34
                        .popular-products-size__item 35
                    .popular-products__price 3 650 р <span>5 800р</span>
                    .popular-products__btn.button_blue Добавить в корзину
            .popular-products__items
                .wrapper-products__items
                    .popular-products__sale
                        img(src="img/ic/sale-20.svg")
                    .popular-products__favorites
                        img(src="img/ic/favorites.svg").ic-favorites
                        img(src="img/ic/favorites-active.svg").ic-favorites-active
                    a(href="#")
                        .popular-products__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots2.png" data-src-small="img/boots2.png")
                        .popular-products__subtitle Девочкам / 6-12 лет
                        .popular-products__name Сапоги для девочки. Модель 44230-2 Модель 44230-2 Модель 44230-2
                    .popular-products__size
                        .popular-products-size__item.popular-products-size__item-active 31
                        .popular-products-size__item 32
                        .popular-products-size__item 33
                        .popular-products-size__item 34
                        .popular-products-size__item 35
                    .popular-products__price 3 650 р <span>5 800р</span>
                    .popular-products__btn.button_blue Добавить в корзину
            .popular-products__items
                .wrapper-products__items
                    //.popular-products__sale
                        img(src="img/ic/sale-20.svg")
                    .popular-products__favorites
                        img(src="img/ic/favorites.svg").ic-favorites
                        img(src="img/ic/favorites-active.svg").ic-favorites-active
                    a(href="#")
                        .popular-products__img
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots3.png" data-src-small="img/boots3.png")
                        .popular-products__subtitle Девочкам / 6-12 лет
                        .popular-products__name Сапоги для девочки. Модель 44230-2
                    .popular-products__size
                        .popular-products-size__item.popular-products-size__item-active 31
                        .popular-products-size__item 32
                        .popular-products-size__item 33
                        .popular-products-size__item 34
                        .popular-products-size__item 35
                    .popular-products__price 3 650 р <span>5 800р</span>
                    .popular-products__btn.button_blue Добавить в корзину