section.sec_7-brends
    .container
        .brends__title.title-block Бренды
        .body-brends
            .swiper-container.brends-container
                .swiper-wrapper
                    .swiper-slide.brends-slide
                        img.brends-slide-img.brends-slide-img-normal.swiper-lazy(data-src="img/brends1.png")
                        img.brends-slide-img.brends-slide-img-hover.swiper-lazy(data-src="img/brends11.png")
                        .swiper-lazy-preloader
                    .swiper-slide.brends-slide
                        img.brends-slide-img.brends-slide-img-normal.swiper-lazy(data-src="img/brends4.png")
                        img.brends-slide-img.brends-slide-img-hover.swiper-lazy(data-src="img/brends2.png")
                        .swiper-lazy-preloader
                    .swiper-slide.brends-slide
                        img.brends-slide-img.brends-slide-img-normal.swiper-lazy(data-src="img/brends3.png")
                        img.brends-slide-img.brends-slide-img-hover.swiper-lazy(data-src="img/brends33.png")
                        .swiper-lazy-preloader
                    .swiper-slide.brends-slide
                        img.brends-slide-img.brends-slide-img-normal.swiper-lazy(data-src="img/brends1.png")
                        img.brends-slide-img.brends-slide-img-hover.swiper-lazy(data-src="img/brends11.png")
                        .swiper-lazy-preloader
                    .swiper-slide.brends-slide
                        img.brends-slide-img.brends-slide-img-normal.swiper-lazy(data-src="img/brends4.png")
                        img.brends-slide-img.brends-slide-img-hover.swiper-lazy(data-src="img/brends2.png")
                        .swiper-lazy-preloader
                    .swiper-slide.brends-slide
                        img.brends-slide-img.brends-slide-img-normal.swiper-lazy(data-src="img/brends3.png")
                        img.brends-slide-img.brends-slide-img-hover.swiper-lazy(data-src="img/brends33.png")
                        .swiper-lazy-preloader


                .brends-pagination.style-pagination