section.sec_2-catalog
    .container
        .body-catalog

            .catalog-item
                a(href="#").body__catalog-item
                    .catalog-item__point
                    .catalog-item__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots.png" data-src-small="img/boots.png")

                    .catalog-item__name Мальчикам

            .catalog-item
                a(href="#").body__catalog-item
                    .catalog-item__point
                    .catalog-item__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/boots-girl.png" data-src-small="img/boots-girl.png")

                    .catalog-item__name Девочкам

            .catalog-item
                a(href="#").body__catalog-item
                    .catalog-item__point
                    .catalog-item__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/wellingtons.png" data-src-small="img/wellingtons.png")

                    .catalog-item__name Сезонное

            .catalog-item
                a(href="#").body__catalog-item
                    .catalog-item__point
                    .catalog-item__sale
                        img(src="img/ic/sale.svg")
                    .catalog-item__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/sandals.png" data-src-small="img/sandals.png")

                    .catalog-item__name Акция
