section.sec_1-first-screen
    .container-fluid
        .body-first-screen
            .swiper-container.first-screen-container
                .swiper-wrapper
                    .swiper-slide.first-screen-slide.swiper-lazy(style="background-image: url('img/sec1.png'), url('img/boots.png') ;")
                        .container
                            .row
                                .first-screen__title.offer <i>Новая</i> <br> <span>зимняя</span> коллекция!
                                .content-first-screen
                                    .first-screen__img
                                        img.swiper-lazy(data-src="img/sec1.png")
                                        .swiper-lazy-preloader
                                    .first-screen__descript
                                        .first-screen__subtitle  Стильные калоши
                                        .first-screen__text Это не только прекрасная возможность выглядеть красиво в любую погоду, но и надежная защита от холода и сырости поздней осенью и ранней весной. Стельки в калоше сдублированы с фольгой, что способствует свободному отведению естественных испарений теланаружу и надежно сохраняет тепло внутри
                                        .first-screen__btn.button_pink Перейти в каталог


                    .swiper-slide.first-screen-slide(style="background-image: url('img/sec1.png'), url('img/boots.png') ;")
                        .container
                            .row
                                .first-screen__title.offer <i>Новая</i> <br> <span>зимняя</span> коллекция!
                                .content-first-screen
                                    .first-screen__img
                                        img.swiper-lazy(data-src="img/sec1.png")
                                        .swiper-lazy-preloader
                                    .first-screen__descript
                                        .first-screen__subtitle  Стильные калоши
                                        .first-screen__text Это не только прекрасная возможность выглядеть красиво в любую погоду, но и надежная защита от холода и сырости поздней осенью и ранней весной. Стельки в калоше сдублированы с фольгой, что способствует свободному отведению естественных испарений теланаружу и надежно сохраняет тепло внутри
                                        .first-screen__btn.button_pink Перейти в каталог


                    .swiper-slide.first-screen-slide(style="background-image: url('img/sec1.png'), url('img/boots.png') ;")
                        .container
                            .row
                                .first-screen__title.offer <i>Новая</i> <br> <span>зимняя</span> коллекция!
                                .content-first-screen
                                    .first-screen__img
                                        img.swiper-lazy(data-src="img/sec1.png")
                                        .swiper-lazy-preloader
                                    .first-screen__descript
                                        .first-screen__subtitle  Стильные калоши
                                        .first-screen__text Это не только прекрасная возможность выглядеть красиво в любую погоду, но и надежная защита от холода и сырости поздней осенью и ранней весной. Стельки в калоше сдублированы с фольгой, что способствует свободному отведению естественных испарений теланаружу и надежно сохраняет тепло внутри
                                        .first-screen__btn.button_pink Перейти в каталог




                .first-screen-pagination.style-pagination
                .wrapper-nav
                    .first-screen-button-prev.style-arrow
                        svg(width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(cx="21.5287" cy="21.5287" r="20.0287" stroke="#015AFE" stroke-width="3")
                            path(d="M10.2005 20.1368C9.61473 20.7226 9.61473 21.6723 10.2005 22.2581L19.7465 31.804C20.3322 32.3898 21.282 32.3898 21.8678 31.804C22.4536 31.2183 22.4536 30.2685 21.8678 29.6827L13.3825 21.1974L21.8678 12.7122C22.4536 12.1264 22.4536 11.1766 21.8678 10.5908C21.282 10.0051 20.3322 10.0051 19.7465 10.5908L10.2005 20.1368ZM31.1338 19.6974L11.2612 19.6974L11.2612 22.6974L31.1338 22.6974L31.1338 19.6974Z" fill="#015AFE")

                    .first-screen-button-next.style-arrow
                        svg(width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(cx="22.4713" cy="21.5287" r="20.0287" stroke="#F81157" stroke-width="3")
                            path(d="M33.7995 20.1368C34.3853 20.7226 34.3853 21.6723 33.7995 22.2581L24.2535 31.804C23.6678 32.3898 22.718 32.3898 22.1322 31.804C21.5464 31.2183 21.5464 30.2685 22.1322 29.6827L30.6175 21.1974L22.1322 12.7122C21.5464 12.1264 21.5464 11.1766 22.1322 10.5908C22.718 10.0051 23.6678 10.0051 24.2535 10.5908L33.7995 20.1368ZM12.8662 19.6974L32.7388 19.6974L32.7388 22.6974L12.8662 22.6974L12.8662 19.6974Z" fill="#F81157")
