section.sec_6-article
    .container
        .article__titlee.title-block Статьи
        .body-article.decrtop
            .swiper-container.article-container
                .swiper-wrapper
                    .swiper-slide.article-slide
                        a.wrapper-article-slide(href="#")
                            .article-slide__img.swiper-lazy(data-background="img/news1.png")
                                .swiper-lazy-preloader
                            .content-padding
                                .article-slide__date 22.09.2020
                                .article-slide__name Модная и яркая “Осень 2020” с kapika
                                .article-slide__more Читать далее

                    .swiper-slide.article-slide
                        a.wrapper-article-slide(href="#")
                            .article-slide__img.swiper-lazy(data-background="img/news2.png")
                                .swiper-lazy-preloader
                            .content-padding
                                .article-slide__date 22.09.2020
                                .article-slide__name Модная и яркая “Осень 2020” с kapika
                                .article-slide__more Читать далее

                    .swiper-slide.article-slide
                        a.wrapper-article-slide(href="#")
                            .article-slide__img.swiper-lazy(data-background="img/news3.png")
                                .swiper-lazy-preloader
                            .content-padding
                                .article-slide__date 22.09.2020
                                .article-slide__name Модная и яркая “Осень 2020” с kapika
                                .article-slide__more Читать далее

                    .swiper-slide.article-slide
                        a.wrapper-article-slide(href="#")
                            .article-slide__img.swiper-lazy(data-background="img/news3.png")
                                .swiper-lazy-preloader
                            .content-padding
                                .article-slide__date 22.09.2020
                                .article-slide__name Модная и яркая “Осень 2020” с kapika
                                .article-slide__more Читать далее

                    .swiper-slide.article-slide
                        a.wrapper-article-slide(href="#")
                            .article-slide__img.swiper-lazy(data-background="img/news2.png")
                                .swiper-lazy-preloader
                            .content-padding
                                .article-slide__date 22.09.2020
                                .article-slide__name Модная и яркая “Осень 2020” с kapika
                                .article-slide__more Читать далее




                .article-pagination.style-pagination

            .wrapper-nav
                .article-button-prev.style-arrow
                    svg(width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg")
                        circle(cx="21.5287" cy="21.5287" r="20.0287" stroke="#015AFE" stroke-width="3")
                        path(d="M10.2005 20.1368C9.61473 20.7226 9.61473 21.6723 10.2005 22.2581L19.7465 31.804C20.3322 32.3898 21.282 32.3898 21.8678 31.804C22.4536 31.2183 22.4536 30.2685 21.8678 29.6827L13.3825 21.1974L21.8678 12.7122C22.4536 12.1264 22.4536 11.1766 21.8678 10.5908C21.282 10.0051 20.3322 10.0051 19.7465 10.5908L10.2005 20.1368ZM31.1338 19.6974L11.2612 19.6974L11.2612 22.6974L31.1338 22.6974L31.1338 19.6974Z" fill="#015AFE")

                .article-button-next.style-arrow
                    svg(width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg")
                        circle(cx="22.4713" cy="21.5287" r="20.0287" stroke="#F81157" stroke-width="3")
                        path(d="M33.7995 20.1368C34.3853 20.7226 34.3853 21.6723 33.7995 22.2581L24.2535 31.804C23.6678 32.3898 22.718 32.3898 22.1322 31.804C21.5464 31.2183 21.5464 30.2685 22.1322 29.6827L30.6175 21.1974L22.1322 12.7122C21.5464 12.1264 21.5464 11.1766 22.1322 10.5908C22.718 10.0051 23.6678 10.0051 24.2535 10.5908L33.7995 20.1368ZM12.8662 19.6974L32.7388 19.6974L32.7388 22.6974L12.8662 22.6974L12.8662 19.6974Z" fill="#F81157")

        .body-article.mobile
            .article-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news1.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее


            .article-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news2.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее


            .article-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news3.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее


            .article-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news3.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее


            .article-item
                a.wrapper-article-slide(href="#")
                    .article-slide__img.b-lazy(data-src="img/news2.png")
                    .content-padding
                        .article-slide__date 22.09.2020
                        .article-slide__name Модная и яркая “Осень 2020” с kapika
                        .article-slide__more Читать далее



        .article__btn.button_pink Смотреть все статьи
