section.sec_5-siza-boots
    .container
        .siza-boots__title.title-block Как подобрать обувь без ребёнка?
        .body-siza-boots
            .siza-boots__img
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/support.svg" data-src-small="img/ic/support.svg")
            .siza-boots__text Чтобы определить свой размер обуви, нужно измерить стопу. Рекомендуют делать это в конце дня, т.к. ноги растаптываются и становятся больше. Встаньте на лист бумаги и обведите ногу карандашом
            .wrapper-siza-boots-btn
                .siza-boots__btn.button_blue Табрица размеров